@import "../../../scss/variables.scss";
@import "../../../scss/mixins/rfs_mixins";
@import "../../../scss/mixins/ratioBox/ratio-box";

.CartItemContainer {
  width: 100%;
  background: $def_page_bg;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.21);
  border-radius: 46px;
  margin-top: 20px;
  position: relative;
  height: inherit;

  .productContainer {
    width: 100%;
    height: inherit;
    display: flex;
    position: relative;

    .ItemImg {
      width: 33%;
      @include ratio-box(1/1);
      overflow: hidden;
      border-radius: 46px 0px 0px 46px;
      cursor: pointer;
    }
    .ItemDescription {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding-left: 18px;
      padding-top: 23px;
    }
    .ItemDescription p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      @include font-size(1.375rem);

      line-height: 21px;
      color: $def_white;
      height: fit-content;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -ms-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ItemDescription a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      @include font-size(1rem);
      line-height: 19px;
      color: $def_light_blue !important;
      margin-top: 3px;
    }

    .CheckBoxBlock {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      transform: translate(20%, -20%);
    }
    .qAndPrice {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;
      height: 100%;
       padding-bottom: 15px;
    }
    .qAndPrice p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      @include font-size(1.375rem);
      color: $def_white;
      transform: translateY(25%);
    }
  }
}
