@import "../../../styles/mixins/scroll_mixin.scss";
@import "../../../styles/mixins/background_mixin.scss";
@import "../../../styles/scss_mixins.scss";
@import "../../../styles/variables.scss";

.orderBox {
  max-width: 500px;
  
  .cartTotal {
    @include font-size(1.25rem);
    color: $def_white;
    font-weight: 700;

    position: sticky;
    bottom: 0px;

    width: 100%;

    .costBox {
      display: flex;
      flex-direction: column;
    }

    .boxButtonOrder {
      max-width: 310px;
      margin-top: 24px;
    }
  }
}
