$def_page_bg: #2C3641 !default;
$def_dark: #151A20 !default;
$def_dark_middle: #202831 !default;
$def_white: #E6E6E4 !default;
$def_pastel_yellow: #FFDF93 !default;
$def_yellow: #FFD064 !default;
$def_brown: #8D5437 !default;
$def_blue_gray: #99A8BA !default;

$def_dark_gray: #5B6672 !default;
$pure_white: #fff !default;
$def_middle_gray: #3F4D5B !default;

$def_blue: #4D7BAE !default;
$def_light_blue: #93C3F8 !default;

$def_purple: #4B5787 !default;
