@import "../../variables";
@import "../../../components/UI/scss/mixins/scroll_mixin";
@import "../../scss_mixins";

.default_pu_bg{
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(21, 26, 32, 0.72);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;

  z-index: inherit;
}

.modalBase {
    max-width: 100%;
    width: fit-content;
    position: relative;
    background-color: $def_page_bg;
    box-shadow: 0px 0px 7px $def_blue;
    border-radius: 40px;
    z-index: inherit;
    padding-bottom: 15px;

    @media (max-width: 539.98px){
      width: 95%;
      position: relative;
      border-radius: 17px;
    }

    .contentWrapper{
      padding: 0px 37px;

      @media (max-width: 539.98px){
        padding: 10px 15px;
      }

    }

    .modalHeader {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
      padding: 37px 37px 15px;
      flex-direction: column;
      padding-right: 30px;

      @media (max-width: 539.98px){
        padding: 25px 15px 0px;
      }

      h1 {
        text-align: start;
        width: 80%;
        justify-self: center;
        font-style: normal;
        font-weight: 500;
        @include font-size(1.875rem);
        color: $pure_white;

        margin: 0px;

      }

      p {
        white-space: normal;
        color: $def_light_blue;
        max-width: 70%;
        font-style: normal;
        font-weight: 400;
        @include font-size(1.125rem);
        margin: 5px 0px;
        line-height: 1.3rem;

        @media (max-width: 539.98px){
          max-width: 80%;
        }
      }

      button{
          position: absolute;

          top: 18px;
          right: 25px;

          background: none;
          border: none;
          cursor: pointer;

          width: 17px;
          height: 17px;

          &:focus{
            border: none;
            outline: none;
          }

          @media screen and (max-width: 539.98px){
            top: 15px;
            right: 15px;


            width: 15px;
            height: 15px;

          }

        }

    }
  }
