.CheckBoxContainer{
    position: relative;
    width: 35px;
    height: 35px;
    margin: 9px;

    -webkit-width: 35px;
    -webkit-height: 35px;
    -webkit-margin: 9px;

    -moz-width: 10%;
    -moz-height: 10%;
    -moz-margin: 10%;

    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}
.checkmark{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    // -moz-appearance:initial
}

.checkmark.active{
    position: absolute;
    margin: 0px;
    padding: 0px;
    // -moz-appearance:initial
}

.checkmark::after{
    content:"";
    position: absolute;
    left:0;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: solid 2px #BFD5ED;
    background: #2C3641;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #76ACE7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

.checkmark.active::before{
    content: "";
    position :absolute;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #76ACE7;

    transform: translate(42%, 42%);
    z-index: 1;
    cursor: pointer;
}

.Checked{
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -53%);

    border-radius: 100%;
    background: #76ACE7;
    box-shadow: 0px 0px 5px #76ACE7;
    transform-origin: center;

    border: none;
    outline: hidden;
    transform-origin: center;
    cursor: pointer;

    opacity: 0;
    transition: 0.2s;
}

.checkmark.active ~ .Checked{

    opacity: 1;
    transition: 0.2s;
}

.container{
    display: flex;
    max-height: fit-content;
    align-items: center;
}
.container label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(18px + (20 - 18) *   ((100vw - 300px) / (1920 - 320)));
    color: #E6E6E4;
    height: fit-content;
    margin-bottom: 2px;
    margin-right: 5px;
}
