@import "../../../scss/variables.scss";
@import "../../../scss/mixins/rfs_mixins";
@import "../../../scss/mixins/ratioBox/ratio-box";
@import "../../../scss/mixins/textEllipsing";


.cardContainer {
  @include ratio-box(23/30);
  height: min-content;
  position: relative;


  .cardData{
    width: 100%;
    height: 100%;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(147, 195, 248, 0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(147, 195, 248, 0.2);
    box-shadow: 0px 0px 6px 0px $def_light_blue;

    box-sizing: border-box;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    overflow: hidden;

    .cardImg{
      width: 100%;
      height: 100%;

      position: relative;
    }

    .InfBlockContainer{
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;

      display: flex;
      align-items: flex-end;
      padding-bottom: 5px;

      .productInformation{
        position: relative;
        width: 95%;
        height: 100%;

        margin: 0 auto;

        background: $def_dark_middle;
        border-radius: 15px;
        border: none !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;

        box-shadow: 0 0 5px $def_dark;


        .productTitle{
          width: 100%;
          font-weight: 500;
          @include font-size(1.15rem);
          line-height: 1.2;
          color: $def_white;

          word-wrap: break-word;
          height: fit-content;
          min-height: 45px;
          overflow: hidden;

          @include text-ellipsing(2);
        }

        .price {
          width: 80%;
          font-weight: 500;
          @include font-size(1.1rem);
          color: $def_light_blue;

          display: flex;

          .priceValue{
            overflow: hidden;
            word-wrap: anywhere;

            @include text-ellipsing(1);
          }

          span{
            width: 30px;
            padding-left: 2px;
          }

        }

        .addToBasket {

          position: absolute;
          width: 41px;
          height: 41px;

          padding: 6px;

          right: -3px;
          bottom: -3px;

          border-radius: 15px;
          background-color: $def_blue;
          overflow: hidden;
          box-sizing: border-box;

          box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
          transition: 0.3s ease-out;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 3px $def_blue;
            transition: 0.3s ease-out;
          }

          .addToCart_container {
            position: relative;
            width: 100%;
            height: 100%;
            transition: 0.3s;

            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            background-image: url("../src/add_to_basket.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 26px;
          }

          .added_ico{

            background-image: url("../src/added_to_cart.svg");
            background-size: contain;

            -webkit-filter: none;
            filter: none;


            scale: 0.7;
            transition: 0.3s;
          }

        }

        .added{
          box-sizing: border-box;
          background: $def_dark_middle;
          border: 2px solid $def_pastel_yellow;

          transition: 0.3s ease-out;

          &:hover{
            box-shadow: 0 0 3px $def_pastel_yellow;
            transition: 0.3s ease-out;
          }

        }
      }
    }
  }
}
