@import "../scss/variables.scss";
@import "../scss/mixins/background_mixin.scss";
@import "../scss/mixins/rfs_mixins";

.container {
  width: 100%;
  position: relative;
  min-width: 250px;
  @include gradient_bg($background: gradient, $radius: 20px);
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px $def_light_blue;
  -moz-box-shadow: 0px 0px 6px $def_light_blue;
  box-shadow: 0px 0px 6px $def_light_blue;
  padding: 18px 20px;
  margin-bottom: 13px;

  > .dot {
    position: absolute;
    border-radius: 50%;
    left: 21px;
    margin-top: 7px;
    width: 8px;
    height: 8px;
    background: $def_light_blue;
    box-shadow: 0px 0px 4px $def_dark;
    animation: dotActive 0.15s ease-in-out;
  }

  .titleTransition {
    margin-left: 19px;
    transition: margin 0.15s ease-in-out;
  }

  > .title {
    font-weight: 600;
    @include font-size(1.2rem);
    line-height: 23px;
    color: $pure_white;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0px 10px 0px 0px;
    transition: margin 0.15s ease-in-out;

    > .vector {
      position: relative;
      top: 10px;
      right: 11px;
      background-color: $def_blue_gray;

      > &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 3px;
        right: -13px;
        background: inherit;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: all 0.1s ease-in-out;
      }

      > &::before {
        position: absolute;
        right: -6px;
        content: "";
        width: 12px;
        height: 3px;
        background: inherit;
        border-radius: 3px;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
      }
    }
    .active {
      > &::after {
        transition: all 0.1s ease-in-out;
        transform: rotate(45deg);
      }
      > &::before {
        transition: all 0.1s ease-in-out;
        transform: rotate(-45deg);
      }
    }
  }
  > .filters {
    > .filter {
      &:first-child {
        margin-top: 16px;
      }
      width: 100%;
      box-sizing: border-box;
      padding: 8px;

      color: $def_white;
      font-weight: 500;
      @include font-size(1.15rem);
      line-height: 23px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 4px 0px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: $def_page_bg;
        box-shadow: 0px 0px 4px $def_dark;
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
      }

      .columnField {
        > .describingFilter {
          background: $def_page_bg;
          box-sizing: border-box;
          position: absolute;
          width: 75%;

          left: 18px;
          transform: translateY(15px);

          box-shadow: 0px 0px 5px $def_dark;
          border-radius: 10px;
          padding: 8px;

          font-weight: 500;
          @include font-size(1rem);
          line-height: 18px;
          color: $def_white;

          animation: describingFilterActive 0.2s ease-in-out;
        }
      }

      > .fieldName {
        width: 100%;
        box-sizing: border-box;
        transition: color 0.1s ease-in-out;
      }

      .activeText {
        color: $def_light_blue;
        transition: color 0.1s ease-in-out;
      }

      > .checkPoint {
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid $def_light_blue;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &::after {
          position: absolute;
          content: "-";
          @include font-size(1.5rem);
          color: $def_light_blue;
          font-weight: 400;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      > .active {
        border: 2px solid $def_blue_gray;
        &::after {
          content: "+";
          @include font-size(1rem);
        }
      }
    }
  }
}

@keyframes dotActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes describingFilterActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .mobile_transfer{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
            $radius: 20px,
            $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;
  }

  .vector {
     position: relative;
     background-color: $def_blue_gray;
     transform-origin: (5px 0px 0px);
     transform: rotate(-90deg);
   }


  // .title {
  //
  // }
}

// .inActiveFiltersMobiles {
//   animation: closeFilterModileVersion 0.2s ease-in-out;
// }

// .activeFiltersMobiles {
//   animation: openFilterModileVersion 0.2s ease-in-out;
// }

// @keyframes openFilterModileVersion {
//   0% {
//     transform: translateX(-530px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0px);
//     opacity: 1;
//   }
// }

// @keyframes closeFilterModileVersion {
//   0% {
//     transform: translateX(0px);
//     opacity: 1;
//   }
//   100% {
//     transform: translateX(-530px);
//     opacity: 0;
//   }
// }
