//@import "./styles/default_variables";
//
//.inputForm {
//
//  width: 100%;
//  height: max-content;
//
//  input[type="text"] {
//    width: 100%;
//    height: 55px;
//    background: $def_white;
//    border-radius: 89px;
//    border: none;
//
//    font-style: normal;
//    font-weight: normal;
//    font-size: 18px;
//    line-height: 21px;
//    color: $def_dark_gray;
//    padding-left: 22px;
//    margin: 5px auto;
//    transition: 0.3s;
//
//    &:focus {
//      outline: none;
//      border: none;
//      box-shadow: 0px 0px 7px #76ACE7;
//    }
//
//    &:hover {
//      transition: 0.3s;
//      box-shadow: 0px 0px 7px #76ACE7;
//    }
//  }
//}
