@import "../../../scss/variables.scss";
@import "../../../scss/mixins/rfs_mixins";
@import "../../../scss/mixins/ratioBox/ratio-box";

.productCardVariant_Inline {
  width: 100%;

  .cardInline {
    display: flex;
    width: 100%;

    background: rgba(82, 86, 92, 0.5);
    box-shadow: 4px 4px 5px rgba(21, 26, 32, 0.5);
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 15px 10px 10px;

    .productContainer{
      width: 100%;
      height: inherit;
      display: flex;
      position: relative;


      .imageBox {
        width: 33%;
        @include ratio-box(1/1);
        border-radius: 5%;
        box-sizing: border-box;
        overflow: hidden;
      }

      .productInformationInline {
        width: 80%;
        border-radius: 15px;
        border: none !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 12px;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .productTitle {
          font-weight: 600;
          @include font-size(1.375);

          line-height: 26px;
          color: $def_white;
        }

        .priceContainer {
          display: flex;
          justify-content: space-between;

          .quantityBasket {
            color: $def_blue_gray;
            @include font-size(0.813rem);
            font-weight: 500;
          }

          .price {
            font-weight: 600;
            @include font-size(1.063rem);
            line-height: 20px;
            color: $def_white;
          }
        }

        .vendCode {
          font-weight: 600;
          @include font-size(0.875em);
          line-height: 20px;
          color: $def_light_blue;
        }
      }
    }
  }
}