@import "../../../variables.scss";
@import "../../../mixins/rfs_mixins.scss";

$productItemSize: 180px;

.header {
  font-weight: 500;
  @include font-size(1.75rem);
  line-height: 38px;
  color: $def_white;
}

.headerContainer{
  height: 40px;
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.inputAndHints_block{
  width: 100%;
  max-width: 575px;
  padding-left: 15px;
}

.hints_block{
  padding: 20px 0px 0px 20px
}

.catalogItems_block{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.productCardVariant_Block {
  $productItemSize: calc(50% - 20px) !global;
  width: $productItemSize;
  min-width: $productItemSize;
  margin: 10px;

  height: fit-content;
  display: flex;
  justify-content: center;
}

.noResultsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 200px);
  margin: auto;
}

.noResultsText {
  font-weight: 500;
  @include font-size(1.125rem);
  line-height: 21px;
  align-items: center;
  color: #99a8ba;
  max-width: 186px;
}

@media screen and (min-width: 575.98px) {
  .productCardVariant_Block {
    $productItemSize: calc(33% - 20px) !global;
    width: $productItemSize;
    min-width: $productItemSize;

  }
}

@media screen and (min-width: 829.98px) {
  .productCardVariant_Block {
    $productItemSize: calc(24% - 15px) !global;
    width: $productItemSize;
    min-width: $productItemSize;

  }
}


@media screen and (min-width: 991.98px) {
  .productCardVariant_Block {
    $productItemSize: calc(50% - 20px) !global;
    width: $productItemSize;
    min-width: $productItemSize;

  }
}

@media screen and (min-width: 1199.98px) {
  .productCardVariant_Block {
    $productItemSize: calc(33% - 20px) !global;
    width: $productItemSize;
    min-width: $productItemSize;

  }
}
