@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins/rfs_mixins";
@import "../../../../scss/mixins/ratioBox/ratio-box";

/* QuantityEditor */
.QuantityEditor {
  width: 140px;
  height: 44px;
  border-radius: 22px;
  position: relative;
  background: linear-gradient(
    96.53deg,
    #76ace7 0.01%,
    rgba(255, 255, 255, 0.56) 61.55%,
    rgba(255, 244, 217, 0.57) 127.85%
  );
  padding: 2px;
  padding-top: 1px !important;
}

.ActionsContainer {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $def_page_bg;
}

.ActionsContainer button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #dee6f0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  @include font-size(1.5rem);
  padding: 18px;
  display: block;
  width: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.ActionsContainer button:hover {
  color: $def_light_blue;
  transition: 0.3s;
}

.ActionsContainer input {
  color: #dee6f0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  @include font-size(1.5rem);
  max-width: 30px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 576.98px) {
  .QuantityEditor {
    max-width: 106px;
    height: 34px;
  }
  .ActionsContainer input {
    @include font-size(1.25rem);
    max-width: 20px;
  }
  .ActionsContainer button {
    max-width: 45px;
    width: 45px;
  }
}
