.CatalogFilterBlock{
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 15px;
}

.ShowFiltersBtn{
    display: none;
}

.filterItemContainer{
    height: 50px;
    display: flex;
    background-color: #2C3641;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34);
    border-radius: 100px;
    max-width: max-content;
    align-items: center;
    margin: 7px 0px;
    padding-left: 20px;
    padding-right: 0px;
    position: relative;
    margin-right: 10px;
}

.filterItemContainer p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #E6E6E4;
}
.selectedFilters{
    display: flex;
    margin-left: 7px;
}
.selectedFilters p{
    margin: 0px 2px;
    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
 
    color: #A7BFD8;
    padding: 2px 10px;
    border-radius: 100px;

    border: 2px solid #A7BFD8;
    

    white-space: nowrap; 
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 

    transition: 0.3s;
    cursor: pointer;
}
.selectedFilters p::before{
    position: absolute;
    width: 30px;
    height: 100%;
    content: "";
    top: 0;
    right: 0;
    background: #2C3641;
    opacity: 0;
    transition: 0.3s;
    background-image: url('../../public/PU_closer.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -11px 0px 12px #2C3641;
}

.selectedFilters p:hover::before{
    opacity: 1;
    transition: 0.3s;
}

.selectedFilters a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #A7BFD8;
    margin-left: 8px;
    transform: translateY(13%);
}

.addFilterParam{
    width: 35px;
    height: 35px;
    min-width: 35px;
    border: 2px solid #BFD5ED;
    box-shadow: 0px 0px 5px #76ACE7;
    box-sizing: border-box;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    margin: 12px;
    margin-left: 5px !important;
    background-color: transparent;
    transition: 0.1s;
}

.addFilterParam.active{
    margin-left: 15px !important;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: 0.3s;
    box-shadow: 0px 0px 7px #E6E6E4;
    
}
.addFilterParam.active::after{
    
}

.addFilterParam::after{
    content: "+";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #A7BFD8;
}

.FilterValuesList{
    position: absolute;
    left: 0;
    top: 115%;
    width: inherit;
    min-width: 250px;
    max-width: 320px;
    height: fit-content;
    max-height: 400px;
    background-color: #2C3641;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    padding: 10px 0px;
    z-index: 10;
    visibility:collapse;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.35s;
    
}

.FilterValuesList.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s;
}

/* .FilterValuesList.active::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    z-index: 0;
} */


.FilterValuesList ul::-webkit-scrollbar {
    width: 5px;
}
    
.FilterValuesList ul::-webkit-scrollbar-track {
    background-color: #2C3641;
    border-radius: 10px 8px 100px 100px;
    max-height: 90%;
}
    
.FilterValuesList ul::-webkit-scrollbar-thumb {
    background-color: #76ACE7;
    border-radius: 9px;
    background-clip: content-box;

}

.FilterValuesList ul{
    width: 98%;
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    margin-right: 10px;
}

.FilterValuesList li{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #E6E6E4;

 
    width: 80%;
    padding: 10px 20px;
    margin: 6px;
    transition: 0.3s;
    border-radius: 13px;
}

.FilterValuesList li:hover{
    background: #414F5F;
    transition: 0.3s;
}

.ListItems.selected{
    border: 2px solid #BFD5ED;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.ListItems.selected button{
    background-color: transparent;
    min-width: 14px;
    min-height: 14px;
    position: relative;
    background-image: url('../../public/PU_closer.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;

}

.ListItems.selected:hover{
    background: transparent !important;
    border-color: #BFD5ED;
    box-shadow: 0px 0px 5px #BFD5ED;
    transition: 0.3s;
}

@media (max-width: 768.98px){
    .CatalogFilterBlock{
        flex-direction: column;
        align-items: center;
        margin-left: -15px;
        overflow-y: hidden;
        height: 0px;
       
    }
    .CatalogFilterBlock.active{
        overflow-y: auto;
        height: 100%;

    }

    .ShowFiltersBtn{
        display: flex;
        position: relative;
        width: 85%;
        height: 80px;
        background: #C4D4E5;
        border-radius: 20px;
        margin-left: 50%;
        transform: translateX(-56%);
        justify-content: space-between;
        align-items: center;
        border: none;
        outline: none;
        padding: 0px 20px;
        box-shadow: 0px 0px 10px #2C3641;
        transition: 0.3s;
    }

    .ShowFiltersBtn p{
        color: #55697E;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        width: min-content;
        word-wrap: break-word;        
    }

    .ShowFiltersBtn.active span{
        opacity: 0;
    }

    .ShowFiltersBtn span{
        width: 50px;
        height: 85%;
        opacity: 1;
        border-radius: 20px;
        background-image: url('../../public/filter_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .ShowFiltersBtn.active p{
        text-align: left;
        width: 100%;
        word-wrap: normal;  
    }

    .ShowFiltersBtn.active{
        height: 50px;
        transition: 0.3s;
    }

    .filterItemContainer{
        border-radius: 22px;
        justify-content: space-between;
        min-width: 80%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
        padding-left: 15px !important;
        position: relative;
        min-height: 50px;
        height: max-content;
        transition: 0.3s;
        
    }
    .CheckBoxSpace{
        position: absolute;
        right: 5px;
        top: 2px;  
    }

    .addFilterParam{
        position: absolute;
        right: 5px;
        top: 0px; 
    }

    .FilterValuesList{
        min-width: 100%;
    }

    .selectedFilters p{
        margin-top: 10px;
        margin-bottom: 8px;
        max-width: 80px;
    }    
    .selectedFilters a{
        margin-top: 10px;

    }    
}