@import "../scss/variables.scss";
@import "../scss/mixins/textEllipsing";

.mobileBar{
    width: 100%;
    height: unset;
    padding: 7px;
    background: $def_page_bg;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & .mobileBtn{
        height: 100%;
        margin: 0 5px;
        border-radius: 10px;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        transition: 0.1s ease-in background-color;

        &.active{
            background: $def_dark;
            box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.25);
            transition: 0.1s ease-in background-color;
        }

        &:last-child{
            margin-right: 0;
        }

        &:first-child{
            margin-left: 0;
        }

        & .imageWrapper{
            width: 27px;
            height: 27px;
            position: relative;
        }

        & .titleWrapper{
            width: 100%;
            padding: 0 10px;
            height: 20px;
            text-align: center;
            color: $def_white;
            overflow: hidden;
            margin-top: 5px;
            @include text-ellipsing($ellipsing_line: 1);
        }

    }

}

