@import "../../variables";
@import "../../mixins/scroll_mixin";

$headerSize: 110px;

.catalog_wrapper{
  min-width: 100vw;
  height: 100%;
  background: $def_dark;
  @include scroll($size: 3px);
  overflow: auto;
}

.catalogHeader{
  height: $headerSize;
  background: $def_dark;
}

.catalogContent{
  height: calc(100% - $headerSize);
}
