@import "../../scss/variables";
@import "../../scss/mixins/background_mixin";

.titleHandlerBlock{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;

  top: -10px;
  left: 0;
}

.mobile_transfer{
  display: none;
  background: red;
}

.default_handler{
  display: block;
  background: blue;
}


@media screen and (max-width: 1399.98px) {
  .XXL_1400{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
    $radius: 20px,
    $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;

    .vector {
      position: relative;
      background-color: $def_blue_gray;
      transform-origin: (5px 0px 0px);
      transform: rotate(-90deg);
    }

    .mobile_transfer_XXL_1400{
      display: block;
    }

    .default_handler_XXL_1400{
      display: none;
    }

  }
}

@media screen and (max-width: 1199.98px) {
  .XL_1200{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
    $radius: 20px,
    $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;

    .vector {
      position: relative;
      background-color: $def_blue_gray;
      transform-origin: (5px 0px 0px);
      transform: rotate(-90deg);
    }

    .mobile_transfer_XL_1200{
      display: block;
    }

    .default_handler_XL_1200{
      display: none;
    }

  }
}

@media screen and (max-width: 991.98px) {
  .LG_992{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
    $radius: 20px,
    $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;

    .vector {
      position: relative;
      background-color: $def_blue_gray;
      transform-origin: (5px 0px 0px);
      transform: rotate(-90deg);
    }

    .mobile_transfer_LG_992{
      display: block;
    }

    .default_handler_LG_992{
      display: none;
    }

  }
}

@media screen and (max-width: 767.98px) {
  .MD_768{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
    $radius: 20px,
    $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;

    .vector {
      position: relative;
      background-color: $def_blue_gray;
      transform-origin: (5px 0px 0px);
      transform: rotate(-90deg);
    }

    .mobile_transfer_MD_768{
      display: block;
    }

    .default_handler_MD_768{
      display: none;
    }

  }
}

@media screen and (max-width: 575.98px) {
  .SM_576{
    box-shadow: none !important;
    @include gradient_bg($background:
            linear-gradient(111.69deg, #2C3641 0%, #151A20 100%),
    $radius: 20px,
    $border_s: 0px
    );
    border-radius: 20px !important;
    border: none !important;
    overflow: hidden !important;

    .vector {
      position: relative;
      background-color: $def_blue_gray;
      transform-origin: (5px 0px 0px);
      transform: rotate(-90deg);
    }

    .mobile_transfer_SM_576{
      display: block;
    }

    .default_handler_SM_576{
      display: none;
    }

  }
}