.partnerItemBody{
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}

.partnersList_block{
    width: 100%;
    background: #262E38;
    border-radius: 30px;
    min-height: 80px;

    padding: 20px 0px;
    padding-bottom: 0px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partnersList{
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.listPointer{
    width: 95%;
    height: 50px;

    display: flex;
    cursor: pointer;
    /*background: #76ACE7;*/
    /*border-radius: 30px;*/
}

.pointer{
    height: 12px;
    min-width: 100px;
    width: 100%;
    background: #E6E6E4;
    border-radius: 30px;
    margin: 0px 2px;
    transition: 0.3s;
}

.pointer.active{
    background: #76ACE7;
}

.pointerBody:hover .pointer{
    padding: 2px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.pointerBody:hover{
    padding: 0px 10px;
    transition: 0.3s;
}

.pointerBody{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}