.PopUpLayout{
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    z-index: 20;
    display: block;
    transition: 0.2s;
    background: rgba(21, 26, 32, 0.72);
    backdrop-filter: blur(3px);
    display: block;
    opacity: 0;
  }
  /* cAntainer... oops. Not a bug but a feature))) */
  .PopUpBaseCantainer{ 
    height: 100vh;
    /* border: solid 1px #385e8a; */
    display: flex;
    align-items: center;
    justify-content: center;   
  }
  .PopUpBaseContent{
    max-width: 90%;
    width: fit-content;
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left:40px;
    padding-right:40px;
    background-color: #2C3641;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

.PopUpBaseContent.wb_style{
    padding: 0px !important;
    padding-top: 30px !important;
    background: transparent;
    box-shadow: none;
}

.PopUpBaseContent.wb_style::before{
    display: none;
}

.PopUpBaseContent.wb_style button{
    right: -30px !important;
}

.PopUpBaseContent::before{
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: rgb(118,172,231);
    background: linear-gradient(142deg, rgba(118,172,231,1) 8%, rgba(204,228,255,1) 87%, rgba(253,240,210,0.8) 100%);
    border-radius: 40px;
    z-index: -2;
}

.PUB_header{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

.PUB_header h1{
    text-align: start;
    width: 90%;
    justify-self: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 123.69%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.PUB_header p{
  white-space: normal;
  color: #93C3F8;
  max-width: 60%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
}

.PUB_header button{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top:30px;
}
@media (max-width: 539.98px){
  .PopUpBaseCantainer{
    width: 110%;
    margin-left: -5%;
  }
  .PopUpBaseContent{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:20px;
    padding-right:20px;
    background: #2C3641;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
  }
  .PopUpBaseContent::before{
    border-radius: 17px;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
  }
  .PUB_header h1{
    font-size: 24px;
    white-space: normal;
    padding: 0px;
    text-align: start;
  }
  .PUB_header button{
    transform: scale(0.8);
    transform-origin: center;
    right: 18px;
    top:16px;
  }
  .PUB_header{
    display: flex;
    flex-direction: column;
  }
  .PUB_header p{
    white-space: normal;
    color: #93C3F8;
    max-width: 70%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
  }
}