@import "../../../variables";
@import "../../../mixins/scroll_mixin";

.catalogWrapperMobile{
  width: 100%;
  height: calc(100% - 10px);
  margin-top: calc(80px + 10px);
  background: $def_page_bg;
  border-radius: 10px;
}
