@import "./styles/default_variables";
@import "./styles/scss_mixins";
@import "./styles/scroll_mixin";

.galleryBlock{
  min-height: 50vh;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;



  @media screen and (max-width: 991.98px){
    min-height: max-content;
    padding: 40px 0px;

  }
}

.gtBlock{
  width: inherit;

  max-width: 500px;
  min-width: 390px;
  min-height: 248px;

  height: max-content;
  background: linear-gradient(270deg, #151A20 0%, rgba(0, 0, 0, 0) 88.83%);
  border-radius: 27px;
  display: flex;
  flex-direction: column;

  padding: 15px 0px;

  P{
    color: $pure_white;
  }

  @media screen and (max-width: 991.98px){
    border-radius: 20px;

    min-width: 60%;
    max-width: 60%;

    min-height: 185px;
    max-height: 185px;

    background: #151a20b7;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

  }

  @media screen and (max-width: 766.98px){
    min-width: 80%;
    max-width: 80%;
  }
  @media screen and (max-width: 576.98px){
    min-width: 100%;
    max-width: 100%;
  }

}

.textBlock{
  max-width: 100%;
  width: 100%;
  padding-right: 30px !important;
  padding: 10px 0px;

  height: max-content;
  max-height: 200px;

  overflow-y: hidden;
  flex-grow: 5;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 991.98px){
    justify-content: center;
    max-width: 90%;
    padding-right: 0px !important;
    min-height: 100px;
    text-align: center;
  }

  p{
    color: $pure_white;
    @include font-size(1.5rem);
    line-height: 1.25em;
    font-weight: 500;
    padding-right: 10px;
    max-height: 150px;
    overflow-y: auto;
    margin: 0;

    @include scroll();


    @media screen and (max-width: 991.98px){
      @include font-size(1.16rem);
    }

    & a{
      color: $def_light_blue;
      filter: drop-shadow(0px 0px 2px $def_dark);
    }
  }
}

.pointsBlock{
  display: flex;
  width: 100%;
  margin-right: 36px;
  justify-content: space-between;
  padding-right: 30px;

  align-items: flex-end;


  .actionBtn > *{
    border-radius: 12px;
    border: solid 2px $def_light_blue;
    background: rgba(21, 26, 32, 0.59);
    padding: 10px 12px;
    cursor: pointer;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: 0.3s;

    color: $def_white;
    font-size: 1.2rem ;
    text-decoration: none;

    &:hover{
      box-shadow: 0px 0px 5px $def_light_blue;
      transition: 0.3s;
    }


    @media screen and (max-width: 991.98px) {
      margin-left: 20px;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;

      backdrop-filter: none;
      -webkit-backdrop-filter: none;

      color: $def_light_blue;
      font-size: 1.1rem !important;
      text-decoration: auto;


      &:hover{
        box-shadow: none;
      }

    }
  }


  .points{
    width: max-content;
    height: max-content;
  }

}


.galleryPoint{
  width: 24px;
  height: 24px;
  border: 2px solid #76ACE7;
  box-sizing: border-box;
  border-radius: 100%;
  background: none;
  cursor: pointer;
  margin-left: 8px;
  transition: 0.3s;

  &:focus{
    outline: none;
  }
  &.active{
    border: 2px solid #FFD064;
    box-sizing: border-box;
    border-radius: 100%;
    background: #FFD064;
    cursor: pointer;
    transition: 0.3s;
  }
  &:hover{
    transition: 0.3s;
    border: 2px solid $def_pastel_yellow;
  }


  @media screen and (max-width: 991.98px){
    max-width: 20px;
    max-height: 20px;

    width: 6vw;
    height: 6vw;
    margin-left: 6px;
  }

}

.GalleryBorder{
   width: 100%;
   height: 100vh;
   min-height: 100vh;
   position: absolute;
   top: -2px;
   right: 0;
   background:
           linear-gradient(0deg, rgba(118, 172, 231, 1), rgba(21, 26, 32, 1));
   mask:url("../../../public/g_mask.svg");
   mask-repeat: no-repeat;
   mask-position: right;
   mask-size: cover;

 }

.GalleryBlock{
  overflow: hidden;
  position: absolute;
  right: 0;
  left: auto;
  top:0;
  z-index: -1;
  height: 100vh;
  width: 1000px;

  @media screen and (max-width: 991.98px){
    transform: scale(1,-1);
    width: 100%;
    top: -35%
  }
}

.galleryImg > *{
  @media screen and (max-width: 991.98px){
    transform: scale(1,-1);
  }
}

.galleryImg{
  width: 100%;
  height: 100%;
  position: relative;
  mask:url("../../../public/g_mask.svg");
  mask-repeat: no-repeat;
  mask-position: right;
  mask-size: cover;
  margin: 4px;
  transition: 0.3s;

  @media screen and (max-width: 991.98px){
    margin: 4px 0px;
  }

    &:after {
      content: '';
      width: 100%;
      height: 100vh;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;
      background: $def_dark;
      z-index: 1;
      transition: 0.3s;

      @media screen and (max-width: 991.98px){
        opacity: 0.8;
        background: rgb(2,0,36);
        background: linear-gradient(50deg, $def_dark 0%, $def_dark 60%, rgba(0,212,255,0) 100%);
      }
    }

    &:before{
      content: '';
      width: 0%;
      height: 100vh;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.4;
      background: $def_dark;
      z-index: 1;
      transition: 0.3s;
    }

    &.hide{
      &:before{
        left:0;
        width: 100%;
        opacity: 1;
        transition: 0.3s;
      }
    }

}


//@media (max-width: 1199.98px){
//  .GalleryBorder{
//    right: -25%;
//  }
//}



//@media (max-width: 959.98px){
//  //.gtBlock{
//  //  width: 60vw;
//  //  min-width: 300px;
//  //  max-height: 150px;
//  //  min-height: 150px;
//  //  grid-template-rows: 110px 40px;
//  //  justify-items: center;
//  //  background: #151a20b7;
//  //
//  //}
//  //.textBlock p{
//  //  p{
//  //    text-align: center;
//  //    display: block;
//  //    margin: 0px auto;
//  //    padding: 0px 15px;
//  //  }
//  //}
//  //.pointsBlock{
//  //  margin-right: 0px;
//  //}
//  //.GallaryPoint{
//  //  width: 2.2vw;
//  //  height: 2.2vw;
//  //  min-height: 17px;
//  //  min-width: 17px;
//  //}
//  .galleryImg::after{
//    &:after{
//      opacity: 0.8;
//      background: rgb(21,26,32);
//      background: linear-gradient(0deg, rgba(21,26,32,1) 33%, rgba(0,0,0,0) 100%);
//    }
//  }
//}