@import "../scss/variables.scss";
@import "../scss/mixins/rfs_mixins";
@import "../scss/mixins/background_mixin";
@import "../scss/mixins/ratioBox/ratio-box";
@import "../scss/mixins/arrow_mixin.scss";

.cart {
  width: 100%;
  padding: 24px 31px;
  background: $def_page_bg;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.21);
  border-radius: 46px 46px 40px 46px;
  color: $def_white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cartLabel {
    @include font-size(1.688rem);
    font-weight: 700;
    margin: 0 0 8px 0;

    display: flex;
    justify-content: space-between;

    .yourCart {
      display: flex;
      .productsQuantity {
        background: $def_blue;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        padding: 2px 13px;
        margin-left: 10px;
        @include font-size(1.438rem);
      }
    }

    .arrow {
    }
  }

  .prodSaleBox {
    display: flex;
    flex-direction: column;
    margin: 8px 0 15px 0;

    .prod,
    .sale {
      display: flex;
      justify-content: space-between;
    }

    .sale {
      opacity: 0.5;
    }

    .title,
    .total {
      @include font-size(1.25rem);
      font-weight: 500;
      > span {
        margin-left: 5px;
      }
    }
  }
  .sumBox {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    .totalSum {
      @include font-size(1.438rem);
      font-weight: 600;
      align-self: flex-end;
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 992px) {

  .arrow {
    width: 25px;
    height: 25px;
    top: 5px;
    @include arrow;
  }

  .openArrow{
    transform: rotate(180deg);
  }

  .prodSaleBox {
    display: none !important;
  }

  .openSaleBox {
    display: flex !important;
  }

  .sumBox {
    flex-direction: row !important;
    justify-content: space-between;

    .totalSum {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

}
