
.AttachContent{
    display: flex;
    width: 100%;
    height: 100vh;
    /* min-height: 820px; */
    /* border: solid 1px #fff; */
    /* overflow-y: hidden; */

}
.LeftContent{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    align-items: flex-end;
}
.RightContent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;

}
.AttachContentBg{
    position: absolute;
    right: 0;
    z-index: 0;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    mix-blend-mode: multiply;
}

/* AP CONTENT BLOCK STYLES */

.APB{
    height: fit-content;
    width: 100%;
}

.APBConteiner{
    width: 100%;
    height: fit-content;
    background: #2C3641;
    box-shadow: 14px 14px 22px -13px rgba(0, 0, 0, 0.21);
    border-radius: 46px 46px 46px 0px;
    position: relative;

}

.APBHeaderNum{
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    color: #FFDF93;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 5px #FFDF93;
    box-shadow: 0px 0px 6px 1px #FFD064;
    background: #2C3641;
}
.APBContent{
    height: fit-content;
    width: 100%;
}

/* APB ATTACH MODULE BLOCK */
.AttachBlockParent{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}
.ABContainer{
    display: flex;
    flex-direction: column;
}

.ABHeader{
    width: 85%;
    height: 50px;
    margin: 13px 0px;
    display: flex;
    align-items: center;
}
.ABHeaderBtn{
    width: 50%;
    background: none;
    color: #FFDF93;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 100%;
    position: relative;
    text-decoration: underline;
    transition: 0.2s;
}

.ABHeaderBtn:hover{
    filter: drop-shadow(0px 0px 7px #4B5B7C);
    transition: 0.2s;
    transform-origin: center;
    transform: scale(1.03);
}
.ABHeaderBtn.active{
    border-radius: 85px;
    background: #6B93BE;
    transition: 0.2s;
    color: #fff;
    text-decoration: none;
}
.ABHeaderBtn.active:hover{
    box-shadow: 0px 0px 7px #93c4f854;
    background: #678eb8;
    transition: 0.2s;
    transform: scale(1);
}

/* APB ATTACH MODULE BLOCK [DROP RULES] */

.ABRulesContent{
    width: fit-content;
    height: fit-content;
    margin: 40px;
}
.ABRulesContent p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;  
    color: #FFFFFF;
}

/* APB ATTACH MODULE BLOCK [DROP ZONE] */

.ABDropContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.ABDropBlock{
    width: 146px;
    height: 146px;
    box-sizing: border-box;
    border-radius: 39px;
    border: 5px solid #76ACE7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s;
}
.ABDropBlock.active{
    transform: scale(1.05);
    border: 5px dashed #76ACE7;
    box-shadow: 0px 0px 7px #4B5B7C;
    transition: 0.3s;
}
.ABDropBlockImg{
    width: 50%;
    height: 50%;
    position: relative;
}
.ABDropBlockBtn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration-line: underline;
    color: #76ACE7;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s;
}

.ABDropBlockBtn.active{
    font-size: 18px;
    transition: 0.3s;
    margin-bottom: 0px;
}

.ABDropBlockFileName{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: -9px;
    max-width: 190px;
    word-wrap: break-word;
    max-height: 30px;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.ABDropInfo{
    width: 55%;
    height: 100%;
    margin-bottom: 40px;
}
.ABDropInfo p{
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.ABDropInfo a{
    cursor: pointer;
    color: #FFDF93;
    position: relative;
    display: inline-block;
    width: max-content;
}
.ABDropInfo a::after{
    position: absolute;
    transform-origin: center;
    content: " ";
    width: 100%;
    height: 2px;
    background: #FFDF93;
    bottom: 0;
    left:0;
    opacity: 0;
    transform: translateY(5px);
    transition: 0.3s;
}
.ABDropInfo a:hover::after{
    opacity: 1;
    transition: 0.3s;
    transform: translateY(0.5px);
}

/* APB USER INPUT MODULE BLOCK */
    .ABContainerInput{
        padding: 30px;
        padding-bottom: 20px;
    }
    .UserInputBlockParent{
        padding-top: 130px;
        width: calc((583 * 100%)/705);

    }
    .ABHeaderInput{
        height: fit-content;
        width: fit-content;
        margin-bottom: 7px;
    }

    .ABHeaderInput p{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin-bottom: 2px;
    }

    .ABHeaderInput a{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;  
        text-decoration-line: underline;
        color: #93C3F8;
        cursor: pointer;
    }

/* APB USER INFO MODULE [INPUT BLOCK ITEM]:

    Title
    [placeholder]

*/

    .InputBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }
    .InputBlock label{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 8px;
        position: relative;
    }

    .isNotConfirmed::after{
        content: " ";
        cursor: pointer;
        position: absolute;
        font-size: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: #FFDF93;
        right:20px;
        top: 0px;
        width: 23px;
        height: 23px;
        background: url('/InputFormShouldBeFill.svg');
        background-position: right;
        background-size: auto;  
        background-repeat: no-repeat;
        display: block;
        top: 0;
        transition: 0.2s;
    }
    .isNotConfirmed:hover::after{
        content: "Obligatory field!";
        position: absolute;
        width: fit-content;
        text-align: left;
        right: 0px;
        background-size: auto;
        background-position: right;

        transform: translateX(-20px);
        padding-right: 25px;
        transition: 0.2s;
    }

    .InputBlock input[type="text"]{
        height: 50px;
        background: #FCFDFE;
        border-radius: 0px 89px 89px 89px;
        border: none;
        outline: none;
        padding-left: 25px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        transition: 0.3s;
    }

    .ActiveInputForm{
        transition: 0.3s;
        box-shadow: 0px 0px 10px #93C3F8;
        border: 2px solid #93C3F8;
    }
    .shouldBeFilled{
        border: 2px solid #FFDF93;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #FFDF93;
        position: relative;
    }
  
    .ConfirmedInputData{
        margin-left: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #93C3F8;
        cursor: pointer;
        width: fit-content;
        position: relative;
    }
    .ConfirmedInputData::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #93C3F8;
        left: 0;
        bottom: 0px;
        transition: 0.3s;
        transform: translateY(5px);
        opacity: 0;
    }
    .ConfirmedInputData:hover::after{
        transform: translateY(0px);
        opacity: 1;
        transition: 0.3s;
    }

    /* SEND ATTACH + USER DATA FORM */

    /* HERE ACTIVE = HIDE / !ACTIVE = SHOW   */
    .APSendFormParent.active{
        height: 0px;
        opacity: 0;
        transition: 0.3s;
        transform-origin: top right;
        transform:translateY(-200%);
        z-index: -1;
        display: none;
    }

    .APSendFormParent{
        width: calc((583 * 100%)/705);
        padding-top: 30px;
        height: fit-content;
        opacity: 1;
        transition: 0.3s;
        transform:translateY(0);
        z-index: -1;
        display: block;
    }

    .ABContainerSendForm{
        padding: 10px;
        padding-bottom: 20px;
    }
    
    .ABsendRules{
        width: 85%;
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ABsendRules p{
        width: 80%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        float: left;
    }   
    .ABsendBtnConteiner{
        width: fit-content;
        margin-top: 16px;
    }
    .ABsendBtnConteiner button{
        padding: 6px 0px;
        width: 200px;
        border-radius: 67px;
        background: none;
        border: 3px solid #76ACE7;
        box-sizing: border-box;
        border-radius: 67px;
        cursor: pointer;
        color: #fff;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }
    .ABsendBtnConteiner button:hover{
        transition: 0.3s;
        background:#76ACE7;;
    }

    @media (max-width: 1779.98px){

        .APBHeaderNum{
            font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1920 - 320)));
        }


        /* ATTACH BLOCK OPT */
        .ABHeader{
            width: 80%;
        }
        .ABHeaderBtn{
            font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1920 - 320)));
        }
        .ABDropBlockBtn{
            font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1920 - 320)));
        }
        .ABDropInfo p{
            font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1920 - 320)));
        }
        .UserInputBlockParent{
            max-height: calc(100vh - 150px);
            transition: 0.3s;
        }
        .ABDropBlock{
            width: 132px;
            height: 132px;
            margin: 15px;
        }

        .ABRulesContent{
            margin: 30px;
        }

        .ABRulesContent p{
            font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1920 - 320)));
        }

        /* INPUTS BLOCK OPT */
        .ABHeaderInput p{
            font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1920 - 320)));
        }

        .ABHeaderInput a{
            font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1920 - 320)));
        }

        .InputBlock label{
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 320)));
        }

        .InputBlock input[type="text"]{
            height: 45px;
        }
        .ConfirmedInputData{
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 320)));
        }

        .InputBlockLimiter{
            padding: 10px;
            padding-right: 10px;
        }

        .UserInputBlockParent{
            padding-right: 7px;
        }

        .ABsendRules p{
            font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1920 - 320)));
        }
    } 

    @media (max-height: 809.98px){

        .InputBlockLimiter{
            max-height: 60vh;
            overflow-y:auto;
            padding-top: 0px;
            transition: 0.3s;

        }

        .InputBlockLimiter::-webkit-scrollbar {
            width: 8px;
        }
         
        .InputBlockLimiter::-webkit-scrollbar-track {
            background-color: #3F4D5B;
            border-radius: 8px 8px 8px 212px;
        }
         
        .InputBlockLimiter::-webkit-scrollbar-thumb {
            background-color: #76ACE7;
            border-radius: 9px;
            background-clip: content-box;

        }

        .UserInputBlockParent.active{
            max-height: 50%;
            overflow-y: hidden;
            position: relative;
            transition: 0.3s;
            /* border: solid 1px #fff; */
            box-shadow: 0px 8px 7px -3px rgba(0, 0, 0, 0.25);
            border-radius: 46px;
            padding-bottom: 10px;
            z-index: -1;
            cursor: pointer;
            animation-duration: 0.3s;
            animation-name: slidein;
        }

        .UserInputBlockParent.active .InputBlockLimiter{
            overflow: hidden;
        }

        .UserInputBlockParent::after{
            content: "";
            position: absolute;
            transition: 0.3s;
            background-color: #151A20;
            background-image: url('/FormsFilled.svg');
            background-repeat: no-repeat;
            background-size: 45%;
            background-position: center;
            bottom: 15px;
            right: 20px;
            display: block;
            border-radius: 100px;
            width: 0px;
            height: 60px;
            z-index: 2;
            opacity: 0;
        }

        .UserInputBlockParent.active::after{
            opacity: 1;
            width: 60px;
            transition: 0.3s;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);

        }

    }


@media (max-width: 1199.98px){
    .LeftContent{
        width: 50%;
    }
    .APBHeaderNum{
        width: 60px;
        height: 60px;
        border-width: 4px;
    }

    .ABHeader{
        flex-direction: column;
        min-height: 100%;
        height: 100%;
        width: auto;
        margin: 0px;
        margin-right: 10px;
        max-width: max-content;
    }
    .ABHeaderBtn{
        font-size: 0px;
        width: 50px;
        height: 50px;
        background: none;
        border-radius: 100%;
        border: solid 2px #FFDF93;
        border-radius: 40%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 10px;
    }
    .ABHeaderBtn.active{
        box-shadow: 0px 0px 7px #93c4f854;
        border: solid 0px rgba(255, 255, 255, 0.438);
        border-radius: 40%;
    }


    .ABHeader button[type="LoadFile"]{
        background-image: url("/UpLoad_S-Screen.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }


    .ABHeader button[type="LoadFile"]:hover{
        background-image: url("/UpLoad_S-Screen.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    
    .ABHeader button[type="LoadRules"]{
        background-image: url("/InputFormShouldBeFill.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: color-dodge;
    }
    .ABHeader button[type="LoadRules"]:hover{
        background-image: url("/InputFormShouldBeFill.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ABContainer{
        flex-direction: row;
    }

    .ABDropContent{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
        border-radius: 46px;
        
    }
    .ABDropBlock{
        width: 100px;
        height: 100px;
        border-radius: 30px;
        border-width: 4px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .ABDropBlock.active{
        transform: none;
        margin-left: 0px;
        margin: 20px;
    }
    .ABDropBlockBtn{
        text-align: center;
        margin-top: -40px;
    }
    .ABDropInfo{
        width: 100%;
    }
    .ABContainer > div{
        width: 100%;
    }
    .ABRulesContent{
        max-height: 200px;
        overflow-y: auto;
        margin: 0px;
        padding-left: 20px;
        margin-right: 70px;
        padding-bottom: 15px;
        padding-top: 15px;
        direction: rtl;
    }
    .ABRulesContent p{
        direction: ltr;
    }
    .ABRulesContent::-webkit-scrollbar {
        width: 8px;
    }
     
    .ABRulesContent::-webkit-scrollbar-track {
        background-color: #3F4D5B;
        border-radius: 8px 8px 8px 212px;
    }
     
    .ABRulesContent::-webkit-scrollbar-thumb {
        background-color: #76ACE7;
        border-radius: 9px;
        background-clip: content-box;
    }

    .UserInputBlockParent{
        padding-top: 100px;
    }

    .ABContainerInput{
        padding: 15px;
    }
}
@media (max-width: 959.98px){
    .APBConteiner{
        border-radius: 40px;
        box-shadow: 0px 8px 7px -3px rgba(0, 0, 0, 0.25);
    }
    .ABDropContent{
        box-shadow: none;
        background: none;
        width: calc(100% - 50px);
    }
    .ABDropBlock{
        width: 115px;
        height: 115px;
        border-width: 5px;
    }
    .APBHeaderNum{
        margin: 15px;
    }
    .ABHeader{
        margin-left: 15px;
        margin-top: 15px;
    }

    .AttachContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .LeftContent{
        width: 100%;
        align-items: center;
        height: fit-content;
    }
    .AttachBlockParent{
        width: 70%;
        margin-top: 20px;
    }
    .AttachBlockParent.active .ABDropBlock{
        width: 90px;
        height: 90px;
        border-width: 3px;
 
    }
    .AttachBlockParent.active .ABDropInfo{
        display: none;
    }
    .AttachBlockParent.active .ABDropBlockBtn{
        display: none;
    }

    .RightContent{
        width: 100%;
        align-items: center;
    }

    .UserInputBlockParent{
        padding-top: 20px;
        width: 70%;
    }
    .UserInputBlockParent .InputBlockLimiter{
        height: 0px;
        margin-top: 15px;
        overflow: hidden;
        transition: 0.3s;
        position: relative;
    }

    .UserInputBlockParent .InputBlockLimiter::after{
        content: "First add the file";
        position: absolute;
        bottom: 0px;
        left: 50%;
        color: #FFDF93;
        transform: translateX(-50%);
        font-family: 'Roboto';
        font-weight: 500;
    }

    .InputBlockLimiter::-webkit-scrollbar {
        width: 8px;
    }
     
    .InputBlockLimiter::-webkit-scrollbar-track {
        background-color: #3F4D5B;
        border-radius: 8px 8px 8px 212px;
    }
     
    .InputBlockLimiter::-webkit-scrollbar-thumb {
        background-color: #76ACE7;
        border-radius: 9px;
        background-clip: content-box;

    }

    .UserInputBlockParent.mobileShower .InputBlockLimiter{
        height: 30vh;
        overflow-y: scroll;
        margin: auto;
        margin-top: 22px;
    }
    .UserInputBlockParent.mobileShower .InputBlockLimiter::after{
        display: none;
    }

    .UserInputBlockParent.active{
        padding-bottom: 0px;
        position: relative;
    }

    .UserInputBlockParent.active .InputBlockLimiter{
        overflow: hidden;
        height: 10vh;
        opacity: 0.6;
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .UserInputBlockParent.active::before{
        content: "Click to change";
        position: absolute;
        color: #ffffff;
        transform: translateX(-50%);
        font-family: 'Roboto';
        font-weight: 500;
        top: 60%;
        left: 50%;
        z-index: 2;
        padding: 10px 15px;
        background: #93C3F8;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
        transition: 0.3s;
        font-size: 16px;
        opacity: 1;
    }
    .UserInputBlockParent::before{
        font-size: 0px;
        opacity: 0;
        padding: 0;
        transition: 0.3s;
    }

    .APSendFormParent{
        width: 70%;
    }
}
@media (max-width: 539.98px){
    .APBHeaderNum{
        width: 45px;
        height: 45px;
        border-width: 3px;
        font-size: 30px;
        margin: 0px;
    }
    .LeftContent h1 { 
        font-size: calc(21.5px + (46 - 21.5) *   ((100vw - 300px) / (1920 - 320)));
        transition: 0.3s;
        
    }
    .LeftContent.fileAttached h1 {
        margin-top: -100px;
    }
    .AttachBlockParent{
        width: 100%;
    }
    .UserInputBlockParent{
        width: 100%;
    }
    .APSendFormParent{
        width: 100%;
    }
    .RightContent{
        position:relative;
    }
    .RightContent::before{
        display: none;
    }
    .RightContent.forMobileAccept::before{
        content: "";
        width: 12vw;
        height: 12vw;
        max-height: 50px;
        max-width: 50px;
        min-height: 30px;
        min-width: 30px;
        position: absolute;
        bottom: 20%;
        right: 0;
        transform: translateX(50%);
        background-color: #2C3641;
        box-shadow: 0px 0px 10px #76ACE7;
        border: solid 1px #76ACE7;
        border-radius: 40%;
        z-index: 10;
        background-image: url("/FormsFilled.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }
    .RightContent.forMobileAccept::before:focus{
        transition:0.3s;
        background: #76ACE7;
        box-shadow: 0px 0px 20px #76ACE7;
    }
    .ABDropBlock{
        width: 90px;
        height: 90px;
        border-width: 4px;
        margin-bottom: 0px;
    }
    .ABDropBlockFileName{
        margin-top: 10px;
        font-size: 18px;
    }
    .ABDropContent{
        position: relative;
    }
    .ABDropInfo{
        width: 130%;
        margin-bottom: 20px;
    }

    .ABHeaderInput p{
        font-size: calc(21px + (30 - 21) * ((100vw - 300px) / (1920 - 320)))
    }
    .ABHeaderInput a{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1920 - 320)))
    }

    .InputBlockLimiter{
        padding: 20px;
        padding-right: 5px;
    }

    .UserInputBlockParent.active .InputBlockLimiter{
        height: 5vh;
    }

    .UserInputBlockParent.mobileShower .InputBlockLimiter{
        margin-top: 0px;
        padding-top: 0px;
        direction: rtl;
    }
    .InputBlockLimiter .InputBlock{
        direction: ltr;
    }

    .UserInputBlockParent.active::after{
        width: 50px;
        height: 50px;
        left: 10px;
        bottom: 10px;
        right: auto;
        display: none;
    }
    .UserInputBlockParent.active::before{
        font-size: 14px;
        color: #2C3641;
        top: 65%;
        margin-left: 8px;
        padding: 9px;
        left: 15px;
        transform: none;
        border-radius: 10px;

    }

    .InputBlock input[type="text"]{
        height: 38px;
        font-size: 14px;
    }
    
    .UserInputBlockParent.keyboardStyle{
        position: fixed;
        height: 50vh;
        background-color: #2C3641;
        width:98vw;
        top:0px;
        padding-top:100px;
        left: 0;
    }
    .UserInputBlockParent.keyboardStyle::after{
        content: "";
        opacity: 1;
        width: 12vw;
        height: 12vw;
        max-height: 50px;
        max-width: 50px;
        min-height: 30px;
        min-width: 30px;
        background-color: #2C3641;
        bottom: 30px;
        right: 30px;
        display: block;
        box-shadow: 0px 0px 10px #76ACE7;
        border: solid 1px #76ACE7;
        border-radius: 40%;
        z-index: 1;
        position: fixed;
    }

    .UserInputBlockParent.keyboardStyle .InputBlockLimiter{
        height: 50vh;
        padding-bottom: 60px;
    }

    /* .InputBlockLimiter.mobileKeyboardStyler{
        position: fixed;
        top: 100px;
        width: 90%;
        z-index: 0;
        left:0px;
        background: #2C3641;
        margin-right: 100px;
        
    }
    .InputBlockLimiter.mobileKeyboardStyler::before{
        content:"";
        width: 100vw;
        height: 100vh;
        background: #2c3641;
      
        position: fixed;
        top: 0;
        left: 8px;
        z-index: -1;
    
    } */
}

