

/*.BaseBlock.unload{*/
/*    animation-duration: 1.7s;*/
/*    animation-fill-mode: forwards;*/
/*    animation-iteration-count: infinite;*/
/*    animation-name: placeHolderShimmer;*/
/*    animation-timing-function:  cubic-bezier(0.1, 0.7, 0.1, 0);*/
/*    background: transparent;*/
/*    background: linear-gradient(150deg, rgba(44, 54, 65, 0.3) 0%, rgba(147,195,248,0.3) 100%);*/
/*    background-size: 1000px 640px;*/
/*    */
/*    padding-bottom: 30px;*/
/*    border-radius: 27px;*/
/*    box-shadow: none;*/

/*    position: relative;*/

/*}*/
/*.BaseBlock.unload *{*/
/*    display: none;*/
/*}*/

/*@keyframes placeHolderShimmer{*/
/*    0%{*/
/*        background-position: -500px 0*/
/*    }*/
/*    100%{*/
/*        background-position: 500px 0*/
/*    }*/
/*}*/

/*.CallBackMobBtn{*/
/*    display: none;*/
/*}*/

.CallBack p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #99A8BA;
    margin-top: 13px;
    margin-left: 8px;
    /* font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (1920 - 320))); */
}
.CallBack a{
    color: #76ACE7;
    cursor: pointer;
    text-decoration: none;
}

.BaseBlock{
    width: 100%;
    height: max-content;
    background: #2C3641;
    box-shadow: 14px 14px 22px -13px rgba(0, 0, 0, 0.21);
    border-radius: 46px 46px 46px 0px;
    /* border : solid 1px #fff; */
}
.BaseBlock p{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    position: relative;
    top:-6px;
}
/*.InputBlock{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 350px;*/
/*    margin-left: 8px;*/
/*    margin-top: 11px;*/
/*}*/
/*.InputBlock input[type="text"]{*/
/*    width: 327px;*/
/*    height: 55px;*/
/*    background: #FCFDFE;*/
/*    border-radius: 89px;*/
/*    border: none;*/

/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    color: #5B6672;*/
/*    padding-left: 22px;*/
/*    margin-bottom: 9px;*/
/*    transition: 0.3s;*/
/*}*/



/*.InputBlock button{*/
/*    height: 55px;*/
/*    border: 3px solid #76ACE7;*/
/*    box-sizing: border-box;*/
/*    border-radius: 27.5px;*/
/*    background: rgba(0, 0, 0, 0);*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*    font-family: Roboto;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    color: #FFFFFF;*/
/*}*/
/*.InputBlock button:hover{*/
/*    background:#76ACE7 ;*/
/*    transition: 0.3s;*/
/*    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);*/
/*}*/

/*@media (max-width: 1779.98px){*/
/*    .CallBack{*/
/*        transform: scale(0.88);*/
/*        transform-origin: left;*/
/*        transition: 0.3s;*/
/*    }*/
/*}*/
/*@media (max-width: 959.98px){*/
/*    .CallBack{*/
/*        align-self: center;*/
/*        margin-top: -50px;*/
/*    }*/
/*}*/
/*@media (max-width: 719.98px){*/
/*    .CallBack{*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        transform-origin: center;*/
/*    }*/
/*    .BaseBlock{*/
/*        width: 65vw;*/
/*        height: fit-content;*/
/*        display: flex; */
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        padding-bottom: 15px;*/
/*        margin-top: 30px;*/
/*        border-radius: 46px;*/
/*        box-shadow: 14px 14px 22px 0 rgba(0, 0, 0, 0.21);*/
/*        !* border : solid 1px #fff; *!*/
/*    }*/
/*    .BaseBlock p{*/
/*        font-size: 20px;*/
/*    }*/
/*}*/
/*@media (max-width: 539.98px){*/
/*    .CallBack{*/
/*        align-self: flex-start;*/
/*    }*/
/*    .InputBlock button{*/
/*        width: 95%;*/
/*    }*/
/*    .BaseBlock{*/
/*        width: 80vw;*/
/*        border-radius: 30px;*/
/*    }*/
/*    .InputBlock{*/
/*        width: 100%;*/
/*        margin:0px;*/
/*        align-items: center;*/
/*    }*/
/*    .InputBlock input[type="text"]{*/
/*        width: 90%;*/
/*        height: 55px;*/
/*        border-radius: 89px;*/
/*        padding-left: 12px;*/
/*        margin-bottom: 9px;*/
/*    }*/
/*}*/

/*!* SHOW CALL-BACK POP-UP BTN IN MOBILE V*!*/
/*@media (max-height: 699.98px){*/
/*    .CallBack{*/
/*        display: none;*/
/*    }*/
/*    .CallBackMobBtn{*/
/*        display: block;*/
/*        justify-self: center;*/
/*        align-self: start;*/
/*        height: fit-content;*/
/*    }*/
/*    .CallBackMobBtn button{*/
/*        width:60vw; */
/*        padding: 10px 0px;*/
/*        border-radius: 30px;*/
/*        border: solid 3px #76ACE7;*/
/*        background: rgba(0, 0, 0, 0.507);*/
/*        color: #fff;*/
/*        font-size: calc(17px + (25 - 17) * ((100vw - 300px) / (1920 - 320)));*/
/*        font-weight: 600;*/
/*        max-width: 400px;*/
/*    }*/
/*}*/
