
.CatalogConteiner::-webkit-scrollbar {
    width: 8px;
}
    
.CatalogConteiner::-webkit-scrollbar-track {
    background-color: #3F4D5B;
    border-radius: 8px 8px 8px 212px;
}
    
.CatalogConteiner::-webkit-scrollbar-thumb {
    background-color: #76ACE7;
    border-radius: 9px;
    background-clip: content-box;

}

.CatalogConteiner{
    height: 0%;
    transition: 0.3s;
    position: fixed;
    top:0;
    left:0;
}

.CatalogBlock{
    padding-bottom: 100px;
    height: fit-content;

}


.CatalogConteiner.open{
    position: fixed;
    top:0;
    left:0;
    padding-top: 100px;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    background: #2C3641;
    z-index: 11;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
}


.ProductItemCont{
    width: 100%;
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    height: fit-content;
    /* border: solid 1px #fff; */
    position: relative;
    z-index: 0;
}
.ProductItem{
    background: #2C3641;
    box-shadow: 0px 0px 7px #76ACE7;
    border-radius: 36px 36px 36px 28px;
    height: 345px;
    width: 260px;
    margin: 0px 10px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}

.ProductItem:hover{
    box-shadow: 0px 0px 10px #76ACE7;
    transition: 0.3s;
}

.PI_ImageBlock{
    width: 100%;
    min-height: 253px;
    position: relative;
}
.PI_ImageBlock::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    z-index: 1;
    top:0;
    left: 0;
    box-shadow: inset 0px -63px 63px #252D35;
}
.PI_FuncBlock{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.PI_AboutItem{
    max-width: 190px;
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-top: 5px;
}

.PI_AboutItem p{
    color: #B6D9FF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 320)));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.PI_About_Name{
    width: 90%;
    height: fit-content;
    line-height: 20px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14px + (18 - 14) *   ((100vw - 300px) / (1920 - 320)));

    margin-bottom: 7px;
}

.PI_AddToCart .AddedToCart{
    border: solid 2px #FFDF93;
    background-color: #252D35;
    background-image: url("/Added_toCart_Ico_Catalog.svg");
    background-size: 50%;
    box-shadow: 0px 0px 7px #151A20;
}

.PI_AddToCart .AddedToCart:hover{
    border: solid 2px #FFDF93;
    background-color: #252D35;
    background-image: url("/Added_toCart_Ico_Catalog.svg");
    background-size: 50%;
    box-shadow: 0px 0px 7px #FFDF93;
}

.PI_AddToCart button{
    width: 49px;
    height: 49px;
    border-radius: 100%;
    background-color:#76ACE7;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 7px #151A20;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform: translate(-25%);
    transition: 0.3s;

    background-image: url("/Add_toCart_Ico_Catalog.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transform-origin: center;
}

.PI_AddToCart button:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px #76ACE7;
    
}
.PI_AddToCart button:hover .PI_AddToCart_Message{
    display: block;
}


.PI_AddToCart_Message{
    position: absolute;
    z-index: 2;
    left: 0%;
    transform: translateX(-90%);
    bottom: 55px;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    background: #151A20;
    color: #fff;
    padding: 10px 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0px 0px 10px #151A20;

    display: none   ;
}


.PI_AddToCart button:focus{
    outline: none;
}

.SearchResults {
    opacity: 0;
    max-height: 0px;
    max-width: fit-content;
    overflow: hidden;
    transition: 0.5s;

    font-family: Roboto;
    font-weight: 500;
    font-size: 25px;
    text-align: center;

    color: #93C3F8;
}
.SearchResults.active{
    opacity: 1;
    max-height: fit-content;
    max-width: fit-content;
    overflow: auto;
    transition: 0.5s;

    margin-top: 100px !important;
    margin: 0px auto;
    transform: translateY(-50%);
    width: fit-content;
}

.LoadingIndicator{
    margin: 0px auto;
    width: fit-content;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    color: #93C3F8;
}

.CatalogItemLoader{
    width: 100%;
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    height: fit-content;
    /* border: solid 1px #fff; */
    position: relative;
    z-index: 0;
}

.CatalogItemLoader .loadinGradient{
    background: #2C3641;
    box-shadow: 0px 0px 7px #76ACE7;
    border-radius: 36px 36px 36px 28px;
    height: 345px;
    width: 260px;
    margin: 0px 10px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CatalogItemLoader .loadinGradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgb(44,54,65);
    background: linear-gradient(to right, rgba(44,54,65,0) 8%, rgba(147,195,248,0.3) 38%, rgba(44,54,65,0) 64%);
    background-size: 1000px 640px;
    
    position: relative;
    
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@media (max-width: 1400.98px) and (min-width: 1200.98px){
    .ProductItem{
        height: 300px;
    }

    .CatalogItemLoader .loadinGradient {
        height: 300px;
    }

    .PI_ImageBlock{
        min-height: 214px;
    }
}

@media (max-width: 500.98px){
    .ProductItem{
        height: 300px;
    }

    .CatalogItemLoader .loadinGradient {
        height: 300px;
    }

    .PI_ImageBlock{
        min-height: 214px;
    }
    .PI_AddToCart button{
        bottom: 95px;
        right: 10px;
    }
    .PI_AddToCart button:hover .PI_AddToCart_Message{
        display: none;
    }
    .SearchResults.active{
        transform: translateX(-5px);
    }
    
}
@media (max-width: 400.98px){
    .ProductItem{
        height: 240px;
    }

    .CatalogItemLoader .loadinGradient {
        height: 240px;
    }

    .PI_ImageBlock{
        min-height: 167px;
    }
    .PI_AddToCart button{
        width: 40px;
        height: 40px;
        bottom: 80px;
        right: 10px;
    }
    .PI_About_Name{
        margin-bottom: 2px;
    }
}
