.gtBlock{
    width: 687px;
    height: 248px;    
    background: linear-gradient(270deg, #151A20 0%, rgba(0, 0, 0, 0) 88.83%);
    border-radius: 27px; 
    display: grid;
    justify-items: end;
    grid-template-rows: 187px 60px;
    z-index: 10;
    /* border: solid 1px #fff; */

    /* grid-area: gtBlock; */
    /* justify-content: center;
    row-gap: 34px; */

}
.textBlock{
    width: 580px;
    height: max-content;
    /* border: solid 1px #fff; */
    height: 86%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    align-self: center;
}
.textBlock p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;    
    color: #fff;
    margin-right: 28px;
    /* border: solid 1px #fff; */
    height: max-content;
}
.pointsBlock{
    width: max-content;
    display: flex;
    /* column-gap: 8px; */
    margin-right: 36px;
    /* border: solid 1px #fff; */
}
.GallaryPoint{
    width: 24px;
    height: 24px;
    border: 2px solid #76ACE7;
    box-sizing: border-box;
    border-radius: 100%;
    background: none;
    cursor: pointer;
    margin-left: 8px;
}
.GallaryPoint.active{
    border: 2px solid #FFD064;
    box-sizing: border-box;
    border-radius: 100%;
    background: #FFD064;
    cursor: pointer;
}
.gallaryImg{
    width: 100%;
    height: 100%;
    position: relative;
    mask:url("/g_mask.svg");
    mask-repeat: no-repeat;
    mask-position: right;
    padding: 2px;
}
.gallaryImg::after{
    content: '';
    width: 1000px;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    opacity: 0.2;
}
.GalleryBorder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(118, 172, 231, 1), rgba(21, 26, 32, 1));
    mask:url("/g_mask.svg");
    mask-repeat: no-repeat;
    mask-position: right;
}

@media (max-width: 1779.98px){
    .gtBlock{
        width: 90%;
        height: 220px;   
        min-height: 220px; 
        grid-template-rows: 170px 40px;
    }
    .textBlock{
        width: 100%;
    }
    .textBlock p{
        font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1920 - 320)));
    }
    .GallaryPoint{
        width: 22px;
        height: 22px;
    }
}
@media (max-width: 1199.98px){
    .GalleryBorder{
        right: -25%;
    }
}

@media (max-width: 959.98px){
    .gtBlock{
        width: 60vw;
        min-width: 300px;
        max-height: 150px;   
        min-height: 150px; 
        grid-template-rows: 110px 40px;
        justify-items: center;
        background: #151a20b7;

    }
    .textBlock p{
        text-align: center;
        display: block;
        margin: 0px auto;
        padding: 0px 15px;
    }
    .pointsBlock{
        margin-right: 0px;
    }
    .GallaryPoint{
        width: 2.2vw;
        height: 2.2vw;
        min-height: 17px;
        min-width: 17px;
    }
    .gallaryImg::after{
        opacity: 0.8;
        background: rgb(21,26,32);
        background: linear-gradient(0deg, rgba(21,26,32,1) 33%, rgba(0,0,0,0) 100%);
    }
}

