@import "./styles/default_variables";
@import "../components/UI/scss/mixins/scroll_mixin";
@import "./styles/UI/IstInput.module";


*{
  margin: 0;
  padding: 0;
}


body{
  background: $def_dark;
  width: 100%;
  min-height: 100%;

  height: max-content;

  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  position: relative;

  @include scroll();

}

button{
  &:focus{
    outline: none;
  }
}

.fluid-adaptive{
  max-width: inherit;
  min-height: 100vh;

  position: static;

  @media screen and (min-width:575.98px){
    max-width: 100%;
  }

  @media screen and (min-width:767.98px){
    max-width: 90%;
  }

  @media screen and (min-width:1200.98px){
    max-width: 85%;
  }

  @media screen and (min-width:1400.98px){
    max-width: 75%;
  }

}

.header-adaptive{
  width: 100%;
  min-height: 30px;
  height: 75px;
  z-index: 2;
  background: $def-dark;

  @media screen and (min-width:575.98px){
    max-width: 100%;
  }

  @media screen and (min-width:767.98px){
    max-width: calc(100%);
  }

  @media screen and (min-width:991.98px){
    max-width: calc(90% + 60px);
    height: 70px;
  }

  @media screen and (min-width:1200.98px){
    max-width: calc(85% + 60px);
  }

  @media screen and (min-width:1400.98px){
    max-width: calc(75% + 60px);
  }
}

@keyframes loaded-content-anim{
  0%{
    border-radius: 30px;
    transform: scale(0.95);
  }
  70%{
    border-radius: 20px;
  }
  100%{
    transform: scale(1);
    border-radius: 0px;
  }
}

.loaded_content{
  transform-origin: center;
  box-shadow: 0px 0px 10px #2C3641;

  &.active{
    animation-name: loaded-content-anim;
    animation-duration:0.7s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }

}

.content_loader{
  width: 100%;
  height: 100%;

  min-width: 100%;
  min-height: 100%;

  background: #151A20;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  transform-origin: center;

  transition: 0.5s;
  &.active{
    transform: translateY(-100%);
    transition: 0.5s;
  }
}

.afterBlock_ISTInput:has(._input_required) {

  position: relative;

  &:before {
    position: absolute;
    content: '100';
    color: transparent;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 15px;

    background-color: $def_page_bg;
    //box-shadow: 0px 0px 5px $def_dark;
    border-radius: 10px;

    background-image: url("/InputFormShouldBeFill.svg");
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: 55%;
    z-index: 1;

  }

}




//.defaultLandingContainerFill{
//  min-height: 100%;
//  height: 100%;
//}

/*.pages_content{*/
/*  z-index: 9;*/
/*  position: relative;*/
/*  background-color: #2C3641;*/
/*}*/

/*DEFAULT LANDING PAGE*/


///*.defaultLandingContainerFill{*/
///*  min-height: 100%;*/
///*  height: 100%;*/
///*}*/

/*.invalid{*/
/*    box-shadow: 0px 0px 7px #FFD064;*/
/*    border: solid 1px #FFD064 !important;*/
/*}*/

/*.MainLogo{*/
/*  cursor: pointer;*/
/*  width: max-content;*/
/*  height: max-content;*/
/*  display: block;*/
/*}*/


/*.LangSwtchrBlock{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  position: fixed;*/
/*  bottom: 20px;*/
/*  right: 60px;*/
/*  align-items: center;*/
/*  background: none;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  z-index: 12;*/
/*}*/

/*.LangSwtchrBlock img{*/
/*width: 58px;*/
/*height: 58px;*/
/*border-radius: 100%;*/
/*box-shadow : 0px 0px 6px rgba(0, 0, 0, 0.25);*/
/*margin-bottom: 5px;*/
/*}*/

/*.LangSwtchrBlock p{*/
/*  font-family: Roboto;*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 18px;*/
/*  line-height: 21px;*/
/*  color: #fff;*/
/*}*/





/*!* Iformation about dev *!*/
/*!* ----------------START----------------- *!*/
/*.devInfHelper button{*/
/*  width: 70px;*/
/*  height: 70px;*/
/*  border:none;*/
/*  outline: none;*/
/*  display: block;*/
/*  background: #FFDF93;*/
/*  border-radius: 100%;*/
/*  position:fixed;*/
/*  left: 35px;*/
/*  bottom: 35px;*/
/*  z-index: 12;*/
/*  cursor: pointer;*/
/*  font-size: 40px;*/
/*  font-family: roboto;*/
/*  color: #4B5B7C;*/
/*  font-weight: 500;*/
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);*/
/*  transition: 0.3s;*/
/*}*/
/*.devInfHelper button:hover{*/
/*  transform-origin: center;*/
/*  transform:scale(1.05);*/
/*  transition: 0.3s;*/
/*}*/

/*.InfoOfDev{*/
/*  position:fixed;*/
/*  left: 35px;*/
/*  bottom: 35px;*/
/*  z-index: 13;*/
/*  width: 406px;*/
/*  height: max-content;*/
/*  padding:25px 20px;*/
/*  left: 32px;*/
/*  background: #d3e7fc;*/
/*  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);*/
/*  border-radius: 36px;*/
/*  font-family: roboto;*/
/*  font-size: 20px;*/
/*  color: rgb(26, 30, 46);*/
/*  transition: 0.2s;*/
/*  transform-origin: bottom left ;*/
/*}*/

/*.InfoOfDev h1{*/
/*  font-weight: 500;*/
/*  font-size: 22px;*/
/*}*/
/*.InfoOfDev a{*/
/*  color: #385e8a;*/
/*  font-weight: 400;*/
/*}*/
/*.InfoOfDev_content{*/
/*  margin-bottom: 10px;*/
/*  max-height: 220px;*/
/*  overflow-y: auto;*/
/*  overflow-x: hidden;*/
/*  */
/*}*/

/*.iod_header{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-bottom: 10px;*/
/*}*/
/*.iod_header button{*/
/*  width: 17px;*/
/*  height: 17px;*/
/*  cursor: pointer;*/
/*  border: none;*/
/*  outline: none;*/
/*  margin-right: 10px;*/
/*  background: #d3e7fc;*/
/*  border-radius: 100%;*/
/*  padding: 2px;*/
/*  transition: 0.3s;*/
/*}*/

/*.iod_header button:hover{*/
/*  transition: 0.3s;*/
/*  transform: rotate(90deg);*/
/*}*/

/*.InfoOfDev_content{*/
/*  padding-left: 10px;*/
/*}*/

/*!* Iformation about dev *!*/
/*!* ----------------END----------------- *!*/
/*#PopUpBase{*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*}*/

/*.nb_container{*/
/*  width: 1410px;*/
/*  padding: 0px 15px;*/
/*  !* border: solid 1px rgba(255, 255, 255, 0.288); *!*/
/*  margin: 0 auto;*/
/*}*/


/*@media (max-width: 1919.98px){*/
/*  .nb_container{*/
/*    width: 1410px;*/
/*  }*/
/*}*/

/*@media (max-width: 1779.98px){*/
/*  .nb_container{*/
/*    width: 1170px;*/
/*  }*/
/*}*/


/*@media (max-width: 1439.98px){*/
/*  .nb_container{*/
/*    width: 1170px;*/
/*  }*/
/*}*/

/*@media (max-width: 1199.98px){*/
/*  .nb_container{*/
/*    width: 930px;*/
/*  }*/
/*}*/

/*@media (max-width: 959.98px){*/
/*  .nb_container{*/
/*    width: 690px;*/
/*  }*/

/*  .GallaryBlock{*/
/*    transform: scale(1, -1);*/
/*    transform-origin: right;*/
/*  }*/
/*  .backImg{*/
/*    transform: scaleY(-1);*/
/*  }*/
/*  */
/*}*/

/*@media (max-width: 719.98px){*/
/*  .nb_container{*/
/*    width: 510px;*/
/*  }*/
/*  .LangSwtchrBlock{*/
/*    bottom: 0px;*/
/*    right: auto;*/
/*    left: 0%;*/
/*    z-index: 11;*/
/*  }*/
/*  */
/*  .LangSwtchrBlock img{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 0px 150px 0px 0px;*/
/*    box-shadow : 0px 0px 6px rgba(0, 0, 0, 0.25);*/
/*    margin-bottom: 0px;*/
/*    box-shadow: none;*/
/*  }*/
/*  */
/*  .LangSwtchrBlock p{*/
/*    font-size: 0px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    width: 80px;*/
/*    display: none;*/
/*  }*/
/*  .LangSwtchrBlock:hover::before{*/
/*    display: none;*/
/*  }*/
/*}*/

/*@media (max-width: 539.98px){*/
/*  .nb_container{*/
/*    width: 290px;*/
/*  }*/
/*  .LangSwtchrBlock{*/
/*    display: flex;*/
/*  }*/
/*  .LangSwtchrBlock.mob_hide{*/
/*    display: none;*/
/*  }*/
/*}*/

