.header{
    width: max-content;
    min-width: 100%;
    height: 94px;
    background-color: #151A20;
    display: flex;
    align-items: center;
    z-index: 11;
    position: fixed;

    /* border: solid 1px #fff;
    opacity: 0.3; */
    
    /* position: absolute;
    top:0;
    left: 0; */
  }
.HeaderMobLogo{
    display: none;
}
.HeaderContent{
    height: max-content;
    display: flex;
    align-items: center;
    /* border: solid 1px #76ACE7; */
}

.catalogAndSearch{
    display: flex;
    /* column-gap: 11px; */
    /* border: solid 1px #fff; */
    margin: 0 auto;
}

.infoLoginCart{
    display: flex;
}


.CatalogBtn{
    width: 131px;
    height: 50px;
    background: #151A20;
    border: 2px solid #76ACE7;
    box-sizing: border-box;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    /* column-gap: 8px; */
    display: flex;
    cursor: pointer;
    margin-right: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #E6E6E4;
}
.CatalogBtn img{
    margin-right: 9px;
}
.search_block{
    height: 50px;
    width: 704px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.11);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.search{
    margin-left:26px;
    width: 87%;
    outline: none;
    border: none;
    background: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #798189;
}
.search:focus{
    outline: none;
    border: none;
}
.sBtn{
    border: none;
    background: rgba(0, 0, 0, 0);
    margin-right: 21px;
    cursor: pointer;
    border-radius: 100%;
}

.ContactsBlock{ 
    width: 76px;
    height: 76px;
    background: #151A20;
    box-shadow: 0px 0px 4px #335172;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* row-gap: 5px; */
    margin-right: 9px;
    border: none;
    cursor: pointer;
}
.ContactsBlock a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-top: 5px;
}

/* Global styles for Cart and LogIn */
.cartAndLoginBlock{         
     background: #151A20;
     border: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     margin-left: 20px;
}
.cartAndLoginBlock a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

@media (max-width: 1779.98px){
    .search_block{
        width: 35vw;
        height: 48px;
        margin-right: 20px;
    }
    .header{
        height: 85px;
    }
    .ContactsBlock{
        width: 67px;
        height: 67px;
        border-radius: 12px;
    }
    .ContactsBlock a{
        font-size: 13px;
    }
    .cartAndLoginBlock img{
        width: 39px;
        height: 39px;
    }
    .CatalogBtn{
        height: 48px;
        align-self: center;
        width: auto;
        padding: 0px 15px;
        /* margin-left: 20px; */
    }
  }
  @media (max-width: 1199.98px){
      .CatalogBtn{
          font-size: 0px;
          padding-left: 14px;
          display: flex;
      }
      .CatalogBtn img{
          margin: 0;
      }
  }

  @media (max-width: 959.98px){
    .HeaderContent{
        width: 100%;
        max-width: calc(100vw - 80px);
        margin: 0px 40px;
        position: absolute;
        left: 0;
        top:0;
        height: 85px;
    }
    .HeaderBigLogo{
        display: none;
    }
    .HeaderMobLogo{
        display: block;
        min-width: 67px;
        height: 67px;
        position: relative;
    }
    .CatalogBtn{
        border: none; 
    }
    .CatalogBtn img{
        transform: scale(1.3);
        transform-origin: center;
    }
    .search_block{
        width: 100%;
        height: 40px;
        margin-right: 20px;
    }
    .search_block img{
        width: 25px;
        height: 25px;
    }
    .search{
        font-size: 16px;
    }
    .catalogAndSearch{
    width: 100%;
    align-items: center;
    padding: 0px 1.2vw;
    }
    .ContactsBlock{ 
        margin-right: 0px;
        box-shadow: none;
        width: fit-content;
    }
    .ContactsBlock a{ 
        display: none;
    }
    .ContactsBlock img{ 
        width: 36px;
        height: 36px;
    }
    .cartAndLoginBlock{
        margin-left: 8px;
    }
    .cartAndLoginBlock a{
        display: none;
    }
  }
  @media (max-width: 719.98px){
    .HeaderContent{
        width: 100%;
        max-width: calc(100vw - 30px);
        margin: 0px 15px;
    }
    .infoLoginCart{
        transform-origin: center;
        transform: scale(0.9);
    }
    .search_block{
        margin-right: 10px;
    }
  }
  @media (max-width: 539.98px){
    .header{
        height: 75px;
        transition: 0.3s;
    }
    .HeaderContent{
        height: 75px;  
    }
    .infoLoginCart{
        transform-origin: right;
        transform: scale(0.8);
    }
    .HeaderMobLogo{
        max-width: 60px;
        max-height: 60px;
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .CatalogBtn img{
        transform: scale(1.1);
        transform-origin: center;
    }
    .CatalogBtn{
        margin-right: 0px;
    }
    .catalogAndSearch{
        padding: 0px 0.9vw;
    }
    .search{
        display: none;
    }
    .search_block{
        width: fit-content;
        justify-content: center;
        padding: 0px 7px;
        border-radius: 13px;
        transform: scale(0.7);
        background-image: url("https://res.cloudinary.com/dv9xitsjg/image/upload/v1645296536/Icons/icons8_search_60px_h5dzwx.png");
        background-color: #151a2000;
        background-size: cover;
        transition: 0.3s;
    }
    .sBtn{
        margin: 0px;
        transform: scale(1.4);
        transform-origin: center;
        opacity: 0;
    }
    /* MOBITE SEARCH ACTIVE STYLES */
    .search_block.active{
        position: absolute;
        z-index: 5;
        left: 0;
        transform-origin: center;
        top:20px;
        transform: translateY(150%);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        background: #151a20ec;
        width: 100%;
        border-radius: 30px;
        height: 50px;
        padding: 0;
        box-shadow: 0px 0px 20px #76ade72f;
    }
    .search.active{
        background: none;
        color: #fff;
        display: block;
    }
    .search.active::placeholder{
        color: rgb(194, 194, 194);
    }
    .header.active{
        transform: translateY(-100%);
    }
    .sBtn.active{
        background-image: url("https://res.cloudinary.com/dv9xitsjg/image/upload/v1645296536/Icons/icons8_search_60px_h5dzwx.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transform: none;
        margin-right: 21px;
        opacity: 1;
    }
    
    .sBtn.active img{
        opacity: 0;
    }
  }
  