.Loader {
    /* background-color: #000; */
    font-weight: normal;
    color: transparent;
   
    height: fit-content;   
    cursor: context-menu;

    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function:  cubic-bezier(0.1, 0.7, 0.1);
    background: transparent;
    background: linear-gradient(150deg, rgba(2,0,36,0) 0%, rgba(147,195,248,0.3) 100%);
    background-size: 1000px 640px;
    
    position: relative;
}

.Loader::selection{
    color: transparent;
    background-color: transparent;
}
.Loader::-moz-selection{
    color: transparent;
    background-color: transparent;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -500px 0
    }
    100%{
        background-position: 500px 0
    }
}
