.PrDemoBG{
    mix-blend-mode: lighten;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: block;
    overflow:hidden;
    z-index: 0;
}
.PDBackImg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.PDBIContent {
    position: relative;
    width: 100%;
    height: 100%;
}

/* -------------BG END-------------- */


.ProductDemo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow:hidden;
}
.prTypesList{
    display: flex;
    margin-left: 17px;
    justify-self: center;
    /* border: solid 1px #fff; */
    /* height: 100%; */
    /* padding: 60px 0px; */
    margin-bottom: 80px;
    padding-top: 10px;
    min-height: 330px;
    z-index: 1;
    position: relative;
}
.openCatalogCard{
    width: 250px;
    height: 331px;
    background: rgba(20, 26, 32, 0.27);
    border: 6px solid #93C3F8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgba(41, 41, 41, 0.56);
    margin-right: 36px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.openCatalogCard p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 123.69%;
    color: #FFFFFF;
    width: 70%;
    text-align: center;
    white-space: pre-line;  
    vertical-align: bottom;
}
.PrTypeCard{
    width: 250px;
    height: 331px;
    background: #93C3F8;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgba(41, 41, 41, 0.56);
    margin-right: 36px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgCardBlock{
    width: 100%;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.PrTypeCard p{
    max-width: 90%;
    white-space: pre-line;  
    vertical-align: bottom;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 123.69%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: #4B5787;
}

.helpBlock{
    margin-bottom: 44px;
    width: fit-content;
    z-index: 1;
}
.helpBlock h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 123.69%;
    color: #FFDF93;
}
.helpBlock p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 123.69%;
    color: #fff;
}
.helpBlock a{
    text-decoration-line: underline;
    color: #94C3F8;
    cursor: pointer;
}
@media (max-width: 1199.98px){
    .prTypesList{
        margin-bottom: 10px;
    }
    
    .PrTypeCard{
        height: 270px;
    }
    .PrTypeCard p{
        font-size: 20px;
    }
    .ImgCardBlock{
        width: auto;
        height: 70%;
        display: flex;
    }

    .openCatalogCard{
        height: 270px;
    }
  }
@media (max-width: 959.98px){
    .prTypesList{
        margin-left:0px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .PrTypeCard{
        margin-right: 0px;
        margin: 15px;
        max-width: 190px;
    }

    .openCatalogCard{
        max-height: min-content;
        height: min-content;
        width: max-content;
        margin-right: 0px;
        border: solid 3.5px #93C3F8;
        padding: 10px 20px;
        margin-top:10px;
        display: flex;
        flex-direction: row;
    }
    .openCatalogCard p{
        width: fit-content;
        font-weight: 500;
        font-size: 20px;
    }
    .openCatalogCard::before{
        content: ' ';
        display: block;
        position: relative;
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: -2px;
        background-position-x: right;
        background-image: url("https://res.cloudinary.com/dv9xitsjg/image/upload/v1645534593/Icons/shopping_bag_1_agbu9s.svg");
    }

    .openCatalogCard img{
        display: none;
    }


    .PrDemoBG{
        background-image: url("https://res.cloudinary.com/dv9xitsjg/image/upload/v1645444475/ProdDemoBG/BG_ZAP_lj0igf.png");
        background-size: cover;
        background-position: center;
    }
    .PDBIContent {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
@media (max-width: 719.98px){
    .PrTypeCard{
        margin-right: 0px;
        width: calc(510px/3 - 15px);
        height:70%;
    }
    .PrTypeCard p{
        font-size: 18px;
    }
    .ImgCardBlock{
        height: 67%;
    }
    .prTypesList{
        margin-bottom: 50px;
    }
    .openCatalogCard{
        transform-origin: center;
        transform:scale(0.9);
    }
    .helpBlock h3{
        font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (719 - 320)));
    }
    .helpBlock p{
        font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (719 - 320)));
    }

    
}
@media (min-width: 539.98px){
.PrTypeCard button{
    display: none;
    }
}
@media (max-width: 539.98px){
    .PrDemoLabel h1{
        width: 100%;
        white-space: normal;
    }

    .prTypesList{
        margin-left:0px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-direction: column;
    }
    .PrTypeCard:last-child{
        margin-bottom: 0px;
    }
    .PrTypeCard{
        margin-right: 0px;
        height:70%;
        margin: 0px;
        margin-bottom: 13px;
        width: 90%;
        max-width: none;
        max-height: 127px;
        height: calc(100%/2.5);
        border-radius: 20px;
        flex-direction: row;
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
    }
    .ImgCardBlock{
        height: 100%;
        width: fit-content;
        max-width: 115px;
        padding: 0;
        margin: 0px;
        transform-origin: center;
        transform: scale(0.9);
    }

    .PrTypeCard p{
        width: 100%;
        text-align: start;
        flex-direction: column  ;
        margin-top: 12px;
        font-size: 18px;
        padding-right: 5px;
    }

    .PrTypeCard button{
        margin-top: 10px;
        width: 111px;
        max-width: 111px;
        height: 38px;
        display: block;
        background: #4B5B7C;
        border-radius: 9px; 
        color: #fff;
        text-align: center;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        transition: 0.3s;
        position: relative;
    }
    .PrTypeCard button:active{
        filter: drop-shadow(0px 0px 3px #151A20);
    }
    .openCatalogCard{
        width: 67%;
        height: 43px;
        transform-origin: center;
        transform: scale(1);
        margin: 0px;
        background: #4B5B7C;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        border: none;
    }
    .openCatalogCard p{
        font-size: 18px;
    }
    .openCatalogCard::before {
        display: none;
    }
}
@media (max-height: 749.98px) and (max-width: 539.98px){
    .helpBlock{
        margin-bottom: 0px;
        max-width: 60px;
        width: min-content;
        z-index: 1;
        margin-left: 90%;
        transform: translateX(-100%);
        margin-bottom: 100%;
        margin-top: 4px;
        display: block;
    }
    .helpBlock h3{
        display: none;
    }
    .helpBlock a{
        color: transparent;  
    }
    .helpBlock p{
        width: 100%;
        max-height: 40px;
        color: transparent;
        border-radius: 9px;
        border: 1px solid #FFDF93;
        box-shadow:0px 0px 3px #FFD064;
        border-radius: 9px;
        position: relative;
    }
    .helpBlock p::before{
        content: "?";
        width: 100%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        color: #FFDF93;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        transform: translateY(50%);
    }
}
