.sdBlock{
    display: flex;
    align-items: center;
    /* column-gap: 19px; */
    cursor: pointer;
    width: max-content;
    /* position: absolute;
    bottom: 20px; */
}
.sdBlock img{
    box-shadow: 0px 0px 10px rgba(255, 208, 100, 0.36);
    border-radius: 20px;
    
}
.sdBlock p{
    font-family: Roboto;
    margin-left: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FCFDFE;
}
@media (max-width: 1779.98px){
    .sdBlock img{
        width: 37px;
        height: auto;
        
        
    }
    .sdBlock p{
        font-size: 17px;
        margin-left: 15px;
    }
}