.sdBlock{
    display: flex;
    align-items: center;
    column-gap: 19px;
    cursor: pointer;
    width: max-content;
    /* position: absolute;
    bottom: 20px; */
}
.sdBlock img{
    box-shadow: 0px 0px 10px rgba(255, 208, 100, 0.36);
    border-radius: 20px;
}
.sdBlock p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FCFDFE;
}