@import "./styles/scss_mixins";
@import  "./styles/default_variables";

.defaultLandingPage{
  position: relative;
  background: $def_page_bg;
  z-index: 1;

  @media screen and (max-width: 767.98px){
    h1{
      text-align: center;
    }
  }

  .contentContainer{
    display: flex;
  }

  h2{
    @include font-size(1.25rem);
    font-style: normal;
    font-weight: 500;
    color: $def_blue_gray;
    white-space: pre-line;
    vertical-align: bottom;
    padding-right: 10%;
    max-width: 300px;
    min-width: 200px;

    @media screen and (max-width: 767.98px){
      text-align: right;
      align-self: flex-end !important;
      color: $def_light_blue;
      font-weight: 500;
      @include font-size(1rem);
      filter: drop-shadow(0px 0px 5px $def_dark);
    }
  }
}