@import "../../components/UI/scss/mixins/scroll_mixin";
@import "../../components/UI/scss/mixins/rfs_mixins";

.feedBack_container{
  width: 100%;
  height: 100%;
  //border: solid 1px red;
  border-radius: 15px;
}

.feedBack_data{
  width: 100%;
  height: 100%;
  //border: solid 1px red;

}

.feedback_inputs{
  width: 90%;
  max-width: 450px;
  padding-top: 10px;
  padding-left: 5px;
}

.field_container{
  margin-top: 12px;
}

.feedback_btn_container{
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .feedback_btn{
    width: 135px;
    height: 70px;
  }
}

#tstBtn{
  @include font-size(1rem);
  justify-content: center;
  padding: 0px !important;
}

