.ProductPage{
    position: relative;
    z-index: 10;
    min-height: 100vh;
    padding-top: 100px;
    max-width: 100vw;
    overflow: hidden;
}
.ProductBlock{
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    padding-top: 29px;
    background: #2C3641;
    box-shadow: 14px 14px 22px -13px rgba(0, 0, 0, 0.21);
    border-radius: 46px 46px 46px 57px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.ProductBlock p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(22px + (27 - 22) *   ((100vw - 300px) / (1920 - 320)));
    color: #FFFFFF;
    margin-bottom: 8px;
}
.ProductBlock a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14px + (18 - 14) *   ((100vw - 300px) / (1920 - 320)));
    color: #76ACE7;
    margin-bottom: 20px;
}
.Image_and_replacement{
    width: 100%;
    display: flex;
    height: 414px;
    position: relative;
}
.ProductImage{
    max-width: 444px;
    width: 100%;
    height: 100%;   
    overflow: hidden;
    border-radius: 48px;
    box-shadow: 0px 0px 12px #587BA0;
    position: relative;
    display: grid;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.ProductReplacement{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
    padding: 0px 30px;
}


.AdditionalProductsBlock{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: #2C3641;
    box-shadow: 14px 14px 22px -13px rgba(0, 0, 0, 0.21);
    border-radius: 0px 46px 46px 0px;
    position: relative;
    overflow: hidden;
}
.AdditionalProductsBlock p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(19px + (24 - 19) *   ((100vw - 300px) / (1920 - 320)));
    color: #FFFFFF;
    margin-bottom: 12px;
}

.AdditionalProductsBlock::after{
    content: "";
    width: 30%;
    height: calc(100% - 8px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(270deg, #2B3540 0%, rgba(44, 54, 65, 0) 80.28%);
}

.AdditionalProductsBlock::before{
    content: "";
    width: 20%;
    height: calc(100% - 38px);
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    background: linear-gradient(90deg, #2B3540 0%, rgba(44, 54, 65, 0) 30.28%);
}

.AdditionalList{
    display: flex;
    z-index: 1;
    /* justify-content: space-between; */
    padding: 0px 15px;
    overflow-x: scroll;
    padding-bottom: 12px;
    position: relative;
    min-height: 100px;

}
.AdditionalList::-webkit-scrollbar {
    height: 6px;
}
    
.AdditionalList::-webkit-scrollbar-track {
    background-color: #2C3641;
    border-radius: 8px 8px 45px 45px;

}
    
.AdditionalList::-webkit-scrollbar-thumb {
    background-color: #76ACE7;
    border-radius: 9px;
    background-clip: content-box;

}


/* ProductDescription */

.ProductDescription_wrapper{
    padding-top: 30px;
    max-height: calc(100% - 30px);
    position: relative ;
    min-height: 50%;
} 

.ProductDescription{
    width: 100%;
    height: 100%;
    background: #2C3641;
    box-shadow: 14px 14px 22px -13px rgba(0, 0, 0, 0.21);
    border-radius: 46px 46px 46px 44px;
    display: flex;
    flex-direction: column;
}

.ProductParams{
    padding-top: 28px !important;
    padding: 11px;
    padding-right: 0px !important;
}

.CharacteristicsTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calc(17px + (21 - 17) *   ((100vw - 300px) / (1920 - 320)));
    line-height: 26px;
    color: #FFFFFF;
}
.ParamsWrapper{
    padding: 0px 27px;
    display: block;
    max-height: 545px;
    overflow-y: auto;
    position: relative;
    
}
.ParamsWrapper::-webkit-scrollbar {
    width: 6px;
}
    
.ParamsWrapper::-webkit-scrollbar-track {
    background-color: #3F4D5B;
    border-radius: 300px 8px 8px 300px;

}
    
.ParamsWrapper::-webkit-scrollbar-thumb {
    background-color: #76ACE7;
    border-radius: 9px;
    background-clip: content-box;

}

.GeometryBlock{
    width: 100%;
    margin-top: 35px;
}

.DetailedDescription{
    margin-top: 20px;
    max-width: 100%;
    overflow-x: hidden;
}
.DetailedDescription p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #E6E6E4;
    word-wrap: break-word;
}

.ProductActions{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 11px;
    margin-top: 30px;
}
.monySymbol{
    display: none;
}
.ProductPrice{
    padding-right: 19px;
}
.ProductPrice p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(18px + (23 - 18) *   ((100vw - 300px) / (1920 - 320)));
    color: #FFFFFF;
    white-space: pre-wrap;
}
.Actions{
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.Actions button{
    width: 50%;
    margin: 8px;
    height: 55px;
    border-radius: 47px;
    box-sizing: border-box;
    border: 3px solid #76ACE7;
    background: transparent;
    outline: none;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px + (20 - 16) *   ((100vw - 300px) / (1920 - 320)));
    color: #FFFFFF;

    transition: 0.3s;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
}

.Actions button.active{
    box-shadow: 0px 0px 5px #76ACE7;
    transition: 0.3s;
    background: #76ACE7 !important; 

}

.sendOrderAction.active{
    background: #76ACE7 !important; 
}


.slug_PuBaseList{
    width: 90%;
    padding: 0px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18px + (20 - 18) *   ((100vw - 300px) / (1920 - 320)));
    color: #FFFFFF;
    list-style: none;
    margin-bottom: 15px;
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
}

.slug_PuBaseList li{
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 20px;
    border-radius: 15px;
    background: #414F5F;
    transition: 0.3s;
    margin-bottom: 5px;
}

.slug_PuBaseList li p{
    margin: 10px  0px;
}

.slug_PuBaseList li button{
    font-size: 18px;
    margin-bottom: 10px;
    background: #2C3641;
    color: #76ACE7;
    border: solid 2px #76ACE7;
    border-radius: 10px;
    font-width: bold;
    outline: none;
    padding: 7px 14px;
    cursor: pointer;
    transition: 0.2s;
}

.slug_PuBaseList li button:hover{
    transition: 0.2s;
    background: #76ACE7;
    color: #2C3641;
}

/*.slug_PuBaseList li:hover{*/
/*    transition: 0.3s;*/
/*    background-color: #151A20;*/
/*}*/

.slug_PuBaseList::-webkit-scrollbar {
    width: 6px;
}
    
.slug_PuBaseList::-webkit-scrollbar-track {
    background-color: #3F4D5B;
    border-radius: 300px 300px 300px 300px;

}
    
.slug_PuBaseList::-webkit-scrollbar-thumb {
    background-color: #76ACE7;
    border-radius: 9px;
    background-clip: content-box;

}


.Actions button:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 5px #76ACE7;
}

.fsImageViewer{
    width: 80vw;
    min-height:10px;
    background: #000;
}

@media (max-width: 992.98px){
    .ProductBlock{
        padding: 15px;
    }
}

@media (max-width: 576.98px){
    .ProductPage{
        max-width: 100vw;
        overflow: hidden;
        margin-left:-15px ;
    }
    .Image_and_replacement{
        flex-direction: column;
        height: 550px;
        position: relative;
    }
    .ProductImage{
        max-width: calc(100% - 30px);
    }
    .ProductReplacement{
        width: 100%;
        height: 200px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px;
        margin-left: -5px !important;
    }
    

}
/* @media (max-width: 1400.98px){
    .Image_and_replacement{
        height: 350px;
    }
} */
